<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
<head><title>${guestbook_title}</title></head>
<body>
<div id="ctxtnav" class="nav">
</div>

<div id="content" class="guestbook">
  <h1>
    ${guestbook_title}
  </h1>
  <div py:for="message in guestbook_messages">
    <div class="message">
      <div class="header">
        <div class="title">
          ${message.title}
        </div>
        <div class="body">
          ${message.body}
        </div>
      </div>
      <div class="controls">
        <py:if test="perm.has_permission('GUESTBOOK_DELETE')">
          <a href="${href.guestbook('delete')}?action=delete&amp;id=${message.id}">Delete</a>
        </py:if>
      </div>
      <div class="footer">
        <div class="author">
          ${message.author}
        </div>
        <div class="time">
          ${message.time}
        </div>
      </div>
    </div>
  </div>

  <py:if test="perm.has_permission('GUESTBOOK_APPEND')">
    <form class="append_form" method="POST" action="${href.guestbook('newentry')}">
      <fieldset>
        <legend>
          Add entry:<br/>
        </legend>
        <div class="field">
          <label for="author">Author:</label><br/>
          <input type="text" id="author" name="author" value=""/>
        </div>
        <div class="field">
          <label for="title">Title:</label><br/>
          <input type="text" id="title" name="title" value=""/>
        </div>
        <div class="field">
          <label for="text">Text:</label><br/>
          <textarea class="wikitext" id="text" name="text" rows="10" cols="78">
Enter your message here...
          </textarea>
        </div>
        <input type="hidden" name="action" value="newentry" />
        <div class="buttons">
          <input type="submit" name="submit" value="Submit"/>
        </div>
      </fieldset>
    </form>
  </py:if>
  <py:if test="not perm.has_permission('GUESTBOOK_APPEND')">
     <em>Sorry, no permission to add elements</em>
  </py:if>
</div>
</body></html>
