<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <head>
    <title>Code Review Browser</title>
  </head>

<body>
<py:def function="sortable_th(order, desc, class_, title)">
  <th class="$class_${order == class_ and (desc and ' desc' or ' asc') or ''}">
                  <a title="Sort by $class_${order == class_ and not desc and
                                             ' (descending)' or ''}"
                    href="${href.peerReviewBrowser(path, rev=stickyrev, order=(class_ != 'name' and class_ or None),
                                                   desc=(class_ == order and not desc and 1 or None))}">$title</a>
  </th>
</py:def>

<py:def function="sizeinfo(size)">
            <span title="${_('%(size)s bytes', size=size)}">
                ${pretty_size(size)}</span>
</py:def>

<div id="content" class="browser">
  <div>
      <p>Current path:</p>
      <xi:include href="path_links.html" />
  </div>

      <div id="jumprev">
          <div>
            <label for="switch_rev" title="${stickyrev and 'Hint: clear the field to view latest revision' or None}">
              View revision:</label>
            <input type="text" id="switch_rev" name="newrev" value="$stickyrev" size="6" />
          </div>
      </div>

  <table py:if="dir" class="listing dirlist" id="dirlist">
    <thead>
      <tr>
            <th></th>
            <th class="name">Name</th>
            <th class="size">Size</th>
            <th class="rev">Rev</th>
            <th class="date">Age</th>
            <th class="author">Author</th>
            <th class="change">Last Change</th>
      </tr>
    </thead>
    <tbody style="overflow: auto; max-height: 400px">
      <py:if test="'up' in chrome.links">
        <tr class="even">
          <td class="name" colspan="7">
            <a class="parent" title="Parent Directory" href="${chrome.links.up[0].href}">../</a>
          </td>
        </tr>
      </py:if>
      <py:for each="idx, item in enumerate(dir['items'])">
        <py:with vars="change = dir.changes[item.rev]">
          <tr class="${idx % 2 and 'even' or 'odd'}">

              <td class="'sel">
                  <input py:if="item.size" class="fileselect" type="checkbox" name="sel" data-rev="${item.rev}" value="${item.fullpath}"/>
              </td>

            <td class="name">
              <py:if test="not item.permission">
                <span class="${item.is_dir and 'dir' or 'file'}" title="Access Denied" href="">${item.name}</span>
              </py:if>
              <py:if test="item.permission">
                <a class="${item.is_dir and 'dir' or 'file'}" title="${item.is_dir and 'Browse Directory' or 'View File'}" href="${item.browser_href}">${item.name}</a>
              </py:if>
            </td>
            <td class="size">${item.size}</td>
            <td class="rev">
              <py:if test="not item.permission">${item.rev}</py:if>
              <py:if test="item.permission">
                <a title="View Revision Log" href="${item.log_href}">${item.rev}</a>
              </py:if>
            </td>
            <td class="age">
              <span title="${dir.changes[item.rev].date}">${dir.changes[item.rev] and dateinfo(dir.changes[item.rev].date) or '-'}</span>
            </td>
              <td class="author">
                  ${dir.changes[item.rev].author}
              </td>
            <td class="change">
                <py:if test="wiki_format_messages">
                ${wiki_to_oneliner(context('changeset', item.rev, parent=repos.resource),
                dir.changes[item.rev].message, shorten=True)}
                </py:if>
                <py:if test="not wiki_format_messages">
                    ${shorten_line(dir.changes[item.rev].message)}
                </py:if>
            </td>
          </tr>
        </py:with>
      </py:for>
    </tbody>
  </table>

    <!--! Properties -->
  <table py:if="props or file" id="info" summary="Revision info">
    <py:if test="file">
      <tr>
        <th scope="row">
          Revision <a href="${href.changeset(rev)}">${rev}</a>, ${sizeinfo(file.size)}
          (checked in by ${authorinfo(file.changeset.author)}, ${dateinfo(file.changeset.date)} ago)
        </th>
        <td class="message">${file.changeset.message}</td>
      </tr>
    </py:if>
    <py:if test="props">
      <tr>
        <td colspan="2">
          <ul class="props">
            <li py:for="prop in props">
            Property <strong>${prop.name}</strong> set to
              <em><code>${prop.value}</code></em>
            </li>
          </ul>
        </td>
      </tr>
    </py:if>
  </table>
    <py:if test="not file">
        <div class="buttons">
            <input type="button" id="addfiles" value="Add selected files" disabled="1" />
        </div>
        <input type="hidden" value="0" id="lineBox1" />
        <input type="hidden" value="0" id="lineBox2" />
        <input type="hidden" value="$revision" id="fileRevVal" name="revision" />
    </py:if>
    <!--! The following is only shown for files -->
  <py:if test="file">
    <div id="preview" style="overflow: auto; max-height: 400px">
      <py:if test="file.preview">${file.preview}</py:if>
      <py:if test="not file.preview and file.max_file_size_reached">
        <br /><br />
        <strong>No HTML preview is available (the file size exceeds ${file.max_file_size} bytes) - you cannot add it to a code review</strong>.
        <br /><br />
      </py:if>
      <py:if test="not file.preview and not file.max_file_size_reached">
        <br /><br/>
        <strong>No HTML preview is available for this file - you cannot add it to a code review</strong>.
        <br /><br />
      </py:if>
    </div>
      <p></p>
      <fieldset id="add-file-fs">
    <input type="button" onclick="addFile('${path}')" value="Add File" disabled="true" id="addFileButton" /> &nbsp;&nbsp;
    Start Line: <input type="text" onkeypress="lineEnter(event);" value="" size="5" id="lineBox1" onchange="addButtonEnable();" />&nbsp;&nbsp;
    End Line: <input type="text" onkeypress="lineEnter(event);" value="" size="5" id="lineBox2" onchange="addButtonEnable();" />
    <input type="hidden" name="revision" value="$revision" id="fileRevVal" />
      </fieldset>
  </py:if>

</div>

</body>
</html>
