<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="layout.html"/>
    <head>
        <title>File details</title>
    </head>
    <body>
        <div id="content">
            <h1>File Details</h1>
            <form method="POST" action="">
                <p class="option">
                    <label for="max">Max items per page</label>
                    <input name="max" id="max" size="6" value="${item_page or 20}" type="text" />
                    <input name="update" value="Update" type="submit" />
                </p>

            </form>
            <h2 class="report-result" py:if="paginator.has_more_pages">
                Results <span class="numresults">(${paginator.displayed_items()})</span>
            </h2>

            <xi:include py:if="paginator.show_index" href="page_index.html" />

            <table class="listing" id="filelist">
                <thead>
                <tr>
                    <th>File ID</th>
                    <th>Filename</th>
                    <th>Review ID</th>
                    <th># Comments</th>
                    <th>Changed Revision</th>
                    <th>Review Revision</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Hash</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody py:with="cls=cycle(('odd', 'even'))">
                <tr py:if="not review_files" class="even" colspan="5">
                    <td>There are no files included in any code review.</td>
                </tr>
                <tr py:for="item in review_files" class="${cls.next()}" id="$item['file_id']">
                    <td><a href="${href.peerReviewPerform()}?IDFile=${item['file_id']}">${item['file_id']}</a></td>
                    <td><a href="${href.peerReviewPerform()}?IDFile=${item['file_id']}">${item['path']}</a></td>
                    <td><a href="${href.peerReviewPerform()}?IDFile=${item['file_id']}">${item['review_id']}</a></td>
                    <td>${item.num_comments}</td>
                    <td>${item['changerevision']}</td>
                    <td>${item['revision']}</td>
                    <td>${item['line_start']}</td>
                    <td>${item['line_end']}</td>
                    <td>${item['hash']}</td>
                    <td>${item['status']}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </body>
</html>
