<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="layout.html"/>
    <head>
        <title>Code Review Details - ${review['name']}</title>
    </head>
    <body>
        <div id="content">
            <h1>Code Review Details - ${review['name']}</h1>
            <dl class="overview">
                <dt>Name:</dt>
                <dd>${review['name']}</dd>
                <dt>Status:</dt>
                <dd>${review['status']}</dd>
                <dt>ID:</dt>
                <dd>${review['review_id']}</dd>
                <dt>Project:</dt>
                <dd>${review['project']}</dd>
                <dt>Author:</dt>
                <dd>${review['owner']}</dd>
                <dt>Creation Date:</dt>
                <dd>$review.date</dd>
            </dl>
            <dl py:if="review['notes']" class="overview">
                <dt>Author notes:</dt>
                <dd>$review.html_notes</dd>
            </dl>
            <div py:if="parent_review">
                <h2>Followup Review from:</h2>
                <dl class="overview">
                    <dt>Name:</dt>
                    <dd>${parent_review['name']}</dd>
                    <dt>Status:</dt>
                    <dd>${parent_review['status']}</dd>
                    <dt>ID:</dt>
                    <dd>${parent_review['review_id']}</dd>
                    <dt>Project:</dt>
                    <dd>${parent_review['project']}</dd>
                    <dt>Author:</dt>
                    <dd>${parent_review['owner']}</dd>
                    <dt>Creation Date:</dt>
                    <dd>${parent_review.date}</dd>
                </dl>
                <dl py:if="parent_review['notes']" class="overview">
                    <dt>Author notes:</dt>
                    <dd>$parent_review.html_notes</dd>
                </dl>
            </div>

            <h2>Files associated with this code review</h2>
            <p py:if="parent_review">The files will be compared with those from review
                <a href="peerReviewView?Review=$parent_review['review_id']">#$parent_review['review_id']</a>.
            </p>
            <table class="listing" id="filelist">
                <thead>
                <tr>
                    <th>File ID</th>
                    <th>Filename</th>
                    <th>Revision</th>
                    <th>Line Numbers</th>
                    <th># of Comments</th>
                </tr>
                </thead>
                <tbody py:with="cls=cycle(('odd', 'even'))">
                <tr py:if="not review_files" class="even" colspan="5">
                    <td>There are no files included in this code review.</td>
                </tr>
                <tr py:for="item in review_files" class="${cls.next()}" id="$item.element_id">
                    <td><a href="${href.peerReviewPerform()}?IDFile=${item.file_id}">${item.file_id}</a></td>
                    <td><a href="${href.peerReviewPerform()}?IDFile=${item.file_id}">${item.path}</a></td>
                    <td><a href="${href.peerReviewPerform()}?IDFile=${item.file_id}">${item.version}</a></td>
                    <td py:if="item.start != 0"><a href="${href.peerReviewPerform()}?IDFile=${item.file_id}">${item.start} -
                        ${item.end}</a></td>
                    <td py:if="item.start == 0"><a href="${href.peerReviewPerform()}?IDFile=${item.file_id}">1 - End of file</a>
                    </td>
                    <td><a href="${href.peerReviewPerform()}?IDFile=${item.file_id}">${item.num_comments}</a></td>
                </tr>
                </tbody>
            </table>


            <h2>Users assigned to this code review</h2>

            <table py:if="review['owner'] == req.authname or manager" class="listing dirlist" id="userlist">
                <thead>
                    <tr>
                        <th style="width:90%">User name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody py:with="cls=cycle(('odd', 'even'))">
                    <tr py:if="not reviewer" class="even">
                        <td>There are no users included in this code review.</td>
                    </tr>
                    <tr py:if="review_files" py:for="item in reviewer" class="${cls.next()}">
                        <td>$item.reviewer</td>
                        <td>$item.status</td>
                    </tr>
                </tbody>
            </table>

            <table py:if="review['owner'] != req.authname and not manager" class="listing dirlist" id="userlist">
                <thead>
                    <tr>
                        <th>User name</th>
                    </tr>
                </thead>
                <tbody py:with="cls=cycle(('odd', 'even'))">
                    <tr py:if="not reviewer" class="even">
                        <td>There are no users included in this code review.</td>
                    </tr>
                    <tr py:if="reviewer" py:for="item in reviewer" class="${cls.next()}">
                        <td>$item.reviewer}</td>
                    </tr>
                </tbody>
            </table>

            <py:if test="canivote">
                <h2>Workflow actions for reviewer</h2>

                $reviewer_workflow

                <p class="help">Setting the correct state helps the review author to track progress.</p>
            </py:if>

            <py:if test="manager or review['owner'] == req.authname">
                <h2 py:if="not manager">Workflow actions for author</h2>
                <h2 py:if="manager">Workflow actions for author or manager</h2>
                $workflow
                <p py:if="review['status'] != 'closed'" class="help">Closing a review means it is obsolete. This can be done at any time.</p>

                <hr />
                <form action="" method="post">
                    <fieldset>
                        <div class="buttons">
                            <input type="hidden" value="${review['review_id']}" name="Review"/>
                            <input type="submit" value="Resubmit For Review" name="resubmit"/>
                            <input py:if="review['status'] != 'closed'" type="submit"
                                   value="Followup Review" name="followup"/>
                            <input py:if="review['status'] != 'closed'" type="submit"
                                   value="Modify" name="modify"/>
                        </div>
                        <p class="help">When resubmitting all the data of this review will be used for prefilling the fields of
                            a new code review.
                            Comments will not be copied. When the new review is created this one will be closed
                            automatically.
                        </p>
                        <p py:if="review['status'] != 'closed'" class="help">When creating a <strong>Followup Review</strong> all the data of this review will be
                            used
                            for prefilling the fields of a new code review. Comments will not be copied. During the new review
                            it
                            is possible to view the changes between file data at different revisions.
                        </p>
                    </fieldset>
                </form>
            </py:if>
        </div>
    </body>
</html>
