<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="layout.html"/>
    <head>
        <title>Codereview Reports</title>
    </head>
    <body>
        <div id="content" class="report trac-content borderless">
            <h1>Codereview Reports</h1>
            <p>The reports are specially crafted for Codereviews. Following a link will open the report result page.
            Depending on the report it may be necessary to add parameters on the report page so results are shown.</p>
            <p>More reports can be found on the Trac <a title="Report Page" href="${href.report()}">report page</a>.
            </p>

            <h2>Available Codereview Reports</h2>
            <div class="reports">
                <py:for each="report in reports">
                    <div>
                        <h3>
                            <a title="$report.title" href="${href.report(report.id, PROJECT='none')}"><em>{$report.id}</em> $report.title</a>
                        </h3>
                        <div py:if="report.desc" class="description" xml:space="preserve">
                            ${wiki_to_html(context.child('report', report.id), report.desc)}
                        </div>
                    </div>
                </py:for>
                <p py:if="not reports">There are no Codereview reports defined.</p>
            </div>
        </div>
    </body>
</html>
