    # macro sortable_th(order, desc, class_, title)
    <th class="${class_}${order == class_ and (desc and ' desc' or ' asc') or ''}">
        <a title="Sort by ${class_}${order == class_ and not desc and
                                         ' (descending)' or ''}"
           href="${href.peerReviewBrowser(path, rev=stickyrev, order=(class_ != 'name' and class_ or None),
                                               desc=(class_ == order and not desc and 1 or None))}">${title}</a>
    </th>
    # endmacro

    # macro sizeinfo(size)
    <span title="${_('%(size)s bytes', size=size)}">
        ${pretty_size(size)}</span>
    # endmacro

    # if norepo:
    <div id="repo" class="browser">
        <div class="warning system-message"><p class="">${norepo}</p>
        </div>
    </div>
    # endif

    # if show_repo_idx:
    <div id="repo_idx">
        <p class="help">Select a repository from the following list.</p>
        <table class="listing" id="sel_repo_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            # for key, val in iteritems(all_repos):
            <tr>
                <td><a class="link_repo_idx" href="${browse_url+'?repo='+val.name}">${val.name if val.name else '(default)'}</a></td>
                <td>${wiki_to_oneliner(context('wiki'), val.description)}</td>
            </tr>
            # endfor
        </table>
    </div>
    # endif

    # if not norepo and not show_repo_idx:
    <div id="repo" class="browser">
        <div>
            # if reponame:
            <p>Current repository: ${repo.reponame}</p>
            # else:
            <p>Current repository: (default)</p>
            # endif
            <p>
                Current path:

                # include "peer_path_links_jinja.html"

            </p>
        </div>

        <div id="jumprev">
            <div>
                <label for="switch_rev"
                       title="${stickyrev and 'Hint: clear the field to view latest revision' or None}">
                    View revision:</label>
                <input type="text" id="switch_rev" name="newrev" value="${stickyrev}" size="6"/>
            </div>
        </div>

        # if dir:
        <table class="listing dirlist" id="dirlist">
            <thead>
                <tr>
                    <th></th>
                    <th class="name">Name</th>
                    <th class="size">Size</th>
                    <th class="rev">Rev</th>
                    <th class="date">Age</th>
                    <th class="author">Author</th>
                    <th class="change">Last Change</th>
                </tr>
            </thead>
            <tbody style="overflow: auto; max-height: 400px">
            # if 'up' in chrome.links:
                <tr class="even">
                    <td class="name" colspan="7">
                        <a class="parent" title="Parent Directory" href="${chrome.links.up[0].href}">../</a>
                    </td>
                </tr>
            # endif
            # for item in dir['items']:
            #   set change = dir.changes[item.rev]
                <tr class="${loop.cycle('odd', 'even')}">
                    <td class="'sel">
                        # if item.size:
                        <input class="fileselect" type="checkbox" name="sel"
                               data-rev="${item.rev}" value="${item.fullpath}"/>
                        # endif
                    </td>
                    <td class="name">
                        # if item.permission:
                        <a class="${item.is_dir and 'dir' or 'file'}"
                           title="${item.is_dir and 'Browse Directory' or 'View File'}"
                           href="${item.browser_href}">${item.name}</a>
                        # else:
                        <span class="${item.is_dir and 'dir' or 'file'}"
                              title="Access Denied">${item.name}</span>
                        # endif
                    </td>
                    <td class="size">${item.size}</td>
                    <td class="rev">
                        # if item.permission:
                        <a title="View Revision Log" href="${item.log_href}">${display_rev(item.rev)}</a>
                        # else:
                        ${display_rev(item.rev)}
                        # endif
                    </td>
                    <td class="age">
                        <span title="${dir.changes[item.rev].date}">${dir.changes[item.rev] and dateinfo(dir.changes[item.rev].date) or '-'}</span>
                    </td>
                    <td class="author">
                        ${authorinfo_short(dir.changes[item.rev].author)}
                    </td>
                    <td class="change">
                        # if wiki_format_messages:
                        ${wiki_to_oneliner(context('changeset', item.rev, parent=repo.resource),
                        dir.changes[item.rev].message, shorten=True)}
                        # else:
                        ${shorten_line(dir.changes[item.rev].message)}
                        # endif
                    </td>
                </tr>
            # endfor
            </tbody>
        </table>
        # endif

        ## Properties
        # if props or file:
        <table id="info" summary="Revision info">
            # if file:
            <tr>
                <th scope="row">
                    Revision <a href="${href.changeset(rev)}">${rev}</a>
                    (checked in by ${authorinfo(file.changeset.author)}, ${dateinfo(file.changeset.date)} ago)
                </th>
            </tr>
            <tr>
                <td class="message">${file.changeset.message}</td>
            </tr>
            <tr>
                <td><strong>File Size:</strong> ${sizeinfo(file.size)}</td>
            </tr>
            # endif
            # if props:
            <tr>
                <td colspan="2">
                    <ul class="props">
                        # for prop in props:
                        <li>
                            Property <strong>${prop.name}</strong> set to
                            <em><code>${prop.value}</code></em>
                        </li>
                        # endfor
                    </ul>
                </td>
            </tr>
            # endif
        </table>
        # endif

        # if not file:
        <p class="help">To select a section of a file for review click on the filename to open the file preview.</p>
        <div id="add-file">
            <div>
                <input type="button" id="addfiles" value="Add selected files" disabled="1"/>
            </div>
            <input type="hidden" value="0" id="lineBox1"/>
            <input type="hidden" value="0" id="lineBox2"/>
            <input type="hidden" value="${revision}" id="fileRevVal" name="revision"/>
            <input type="hidden" value="${reponame}" id="reponame_file" name="repofile"/>
        </div>
        # else:

        ## The following is only shown for files
        <div id="file-preview">
            # if not file.preview and file.max_file_size_reached:
            <div id="add-file">
                <div class="warning system-message">
                    <p>
                        <strong>Warning: </strong>No HTML preview is available (the file size exceeds
                        ${sizeinfo(file.max_file_size)}) - you cannot add it to a code review.
                    </p>
                </div>
                <p class="help">The allowed filesize can be set by an administrator.</p>
            </div>
            # endif

            # if not file.preview and not file.max_file_size_reached:
            <div id="add-file">
                <div class="warning system-message">
                    <p>
                        <strong>Warning: </strong>No HTML preview is available for this file - you cannot add it
                        to a code review.
                    </p>
                </div>
            </div>
            # endif

            # if file.preview:
            ${file.preview}
            # endif
        </div>
        # if file.preview:
        <div id="add-file">
            <input type="hidden" value="${reponame}" id="reponame_file" name="repofile"/>
            <p class="help">Click on the line numbers to select start and end of the section.</p>

            <div>
                <input type="button" onclick="addFile('${path}')" value="Add File" disabled="disabled"
                       id="addFileButton"/> &nbsp;&nbsp;
            </div>
            <div class="field">
                <label>Start Line: <input type="text" onkeypress="lineEnter(event);" value=""
                                          size="5" id="lineBox1" onchange="addButtonEnable();"/>
                </label>
                <label>End Line: <input type="text" onkeypress="lineEnter(event);" value=""
                                        size="5" id="lineBox2" onchange="addButtonEnable();"/>
                </label>
            </div>
            <input type="hidden" name="revision" value="${revision}" id="fileRevVal"/>
        </div>
        # endif

        # endif

    </div>
    # endif
