<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

  <head>
    <title>My Code Review</title>
  </head>

<body>
  <!-- Top Navigation Bar -->
  <div id="ctxtnav" class="nav">
    <h2>Peer Review Navigation</h2>
    <ul>
      <li class="first">My Code Reviews</li>
      <li><a href="${href.peerReviewNew()}">Create a Code Review</a></li>
      <li class="last"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>
    </ul>
  </div>

  <h1>My Code Reviews</h1>

  <!-- If we are a manager, display a table containing all of the code reviews requiring your approval. -->
  <py:if test="author == 'manager'">
  <h2>This is a list of the code reviews currently requiring your approval.</h2>
  <table class="listing" id="approvereviewlist">
    <thead>
      <tr>
        <td>Review</td>
        <td>Author</td>
        <td>Name</td>
        <td>Date Opened</td>
      </tr>
    </thead>
    <tbody py:with="cls=cycle(('odd', 'even'))">
      <!-- if there are no reviews open for you, state this in the table -->
      <tr py:if="managerReviewArrayLength == 0">
        <td>There are no code reviews requiring your approval.</td>
        <td />
        <td />
        <td />
      </tr>
      <tr py:if="managerReviewArrayLength > 0" py:for="item in managerReviews" class="${cls.next()}">
        <!-- Set up the table with the appropriate values and then links to view the review -->
        <td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[0]}</a></td>
        <td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[1]}</a></td>
        <td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[2]}</a></td>
        <td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[3]}</a></td>
      </tr>
    </tbody>
  </table>
  </py:if>

  <h2>This is a list of currently open code reviews created by you.</h2>

  <table class="listing" id="myreviewlist">
    <thead>
    <tr>
      <td>Review</td>
      <td>Name</td>
      <td>Status</td>
      <td>Date Opened</td>
    </tr>
    </thead>
    <tbody py:with="cls=cycle(('odd', 'even'))">
      <!-- if there are no reviews open for you, state this in the table -->
      <tr py:if="not myreviews">
        <td>You have no code reviews currently open.</td>
        <td />
        <td />
        <td />
      </tr>
      <tr py:for="item in myreviews" class="${cls.next()}">
        <!-- Set up the table with the appropriate values and then links to view the review -->
        <td><a href="${href.peerReviewView()}?Review=${item.review_id}">${item.review_id}</a></td>
        <td><a href="${href.peerReviewView()}?Review=${item.review_id}">${item.name}</a></td>
        <td><a href="${href.peerReviewView()}?Review=${item.review_id}">${item.status}</a></td>
        <td><a href="${href.peerReviewView()}?Review=${item.review_id}">${item.creation_date}</a></td>
      </tr>
    </tbody>
  </table>

  <h2>This is a list of code reviews currently assigned to you.</h2>

  <!-- Display your currently assigned code reviews in a table -->
  <table class="listing" id="assignedreviewlist">
    <thead>
      <tr>
        <td>Review</td>
        <td>Author</td>
        <td>Name</td>
        <td>My Vote</td>
        <td>Date Opened</td>
      </tr>
    </thead>
    <tbody py:with="cls=cycle(('odd', 'even'))">
      <!-- if there are no reviews open for you, state this in the table -->
      <tr py:if="assignedReturnArrayLength == 0">
        <td>There are no code reviews assigned to you.</td>
        <td />
        <td />
        <td />
        <td />
      </tr>
      <tr py:if="assignedReturnArrayLength > 0" py:for="item in assignedReviews" class="${cls.next()}">
        <!-- Set up the table with the appropriate values and then links to view the review -->
        <td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[0]}</a></td>
        <td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[1]}</a></td>
        <td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[2]}</a></td>
        <td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[4]}</a></td>
        <td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[3]}</a></td>
      </tr>
    </tbody>
  </table>

</body>
</html>
