<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="layout.html"/>
    <head>
        <title>Code Review Details - ${review['name']}</title>
        <script>
          jQuery(function($) {
            $(".foldable").enableFolding(false, true);
          });
        </script>
    </head>
    <xi:include href="peer_functions.html"/>
    <body>
        <div id="content" class="peerreview-content trac-content borderless">
            <h1>Code Review Details - ${review['name']}</h1>
            <div py:if="is_finished" class="notice system-message">
                <p>
                    This review is finished. A code review manager may reopen it.
                </p>
            </div>
            <div py:if="review_locked and not is_finished" class="notice system-message">
                <p>
                    This review is marked as <strong>reviewed</strong> and can't be changed. The author of the code review may change the current status.
                </p>
            </div>
            <div py:if="review_done and not is_finished and not review_locked" class="notice system-message">
                <p>
                    This review is marked as <strong>reviewed</strong>. Reviewers can't change it anymore. As author you have to set the final status now.
                </p>
            </div>
            <div py:if="parent_review">
                <table class="review-table">
                    <thead>
                        <tr>
                            <th>Review Information</th>
                            <th class="parent-info">Follow-up from</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>${review_info(review)}</td>
                            <td class="parent-info">${review_info(parent_review)}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div py:if="not parent_review">
                <table class="review-table">
                    <thead>
                        <tr>
                            <th>Review Information</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr py:if="changeset">
                        <td><em>This is a review for changeset
                            <a href="${href.changeset(changeset, repo)}" title="Show changeset ${changeset}">${changeset}</a>.</em>
                        </td>
                    </tr>
                    <tr>
                        <td>${review_info(review)}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h3>Files associated with this code review</h3>
            <p py:if="parent_review">The files will be compared with those from review
                <a href="${href.peerreviewview(parent_review['review_id'])}">${review['name']} (#${parent_review['review_id']})</a>.
            </p>
            <table class="listing" id="filelist">
                <thead>
                <tr>
                    <th>File ID</th>
                    <th>Filename</th>
                    <th>Repository</th>
                    <th>File Revision</th>
                    <th>Repo Revision</th>
                    <th py:if="parent_review">Previous File Rev.</th>
                    <th py:if="parent_review">Previous Repo Rev.</th>
                    <th>Line Numbers</th>
                    <th>Comments / not read</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody py:with="cls=cycle(('odd', 'even'))">
                <tr py:if="not review_files" class="even" colspan="8">
                    <td>There are no files included in this code review.</td>
                </tr>
                <tr py:for="item in review_files" class="${cls.next()}" id="${item['file_id']}">
                    <td><a href="${href.peerreviewperform()}?IDFile=${item['file_id']}">${item['file_id']}</a></td>
                    <td><a href="${href.peerreviewperform()}?IDFile=${item['file_id']}">${item['path']}</a></td>
                    <td>${item['repo'] if item['repo'] else '(default)'}</td>
                    <td>${item['display_rev'](item['changerevision'])}</td>
                    <td>${item['display_rev'](item['revision'])}</td>
                    <py:if test="parent_review" py:with="file=file_map[item['file_id']]">
                        <td>${file['display_rev'](file['changerevision']) if file['changerevision'] else '---'}</td>
                        <td>${file['display_rev'](file['revision']) if file['revision'] else '---'}</td>
                    </py:if>
                    <td py:if="item['line_start'] != 0">${item['line_start']} -
                        ${item['line_end']}</td>
                    <td py:if="item['line_start'] == 0">1 - End of file
                    </td>
                    <td><span>${item.num_comments}</span>&nbsp;&nbsp;/&nbsp;
                        <span py:attrs="{'class': 'comment-notread'} if item.num_notread else None">&nbsp;${item.num_notread}&nbsp;</span>
                    </td>
                    <td>${item['status']}</td>
                </tr>
                </tbody>
            </table>
            <p class="help">The status of the listed files will be set when the review author sets the final status
                of the review.</p>

            <div class="collapsed">
            <h3 class="foldable">Users assigned to this code review</h3>
                <div class="peer-div">
            <table py:if="review['owner'] == req.authname or manager" class="listing dirlist" id="userlist">
                <thead>
                    <tr>
                        <th style="width:90%">User name</th>
                        <th>Review progress</th>
                    </tr>
                </thead>
                <tbody py:with="cls=cycle(('odd', 'even'))">
                    <tr py:if="not reviewer" class="even">
                        <td>There are no users included in this code review.</td>
                    </tr>
                    <tr py:if="reviewer" py:for="item in reviewer" class="${cls.next()}">
                        <td>${authorinfo(item['reviewer'])}</td>
                        <td>${item['status']}</td>
                    </tr>
                </tbody>
            </table>

            <table py:if="review['owner'] != req.authname and not manager" class="" id="userlist">
                <tbody py:with="cls=cycle(('odd', 'even'))">
                    <tr py:if="not reviewer" class="even">
                        <td>There are no users included in this code review.</td>
                    </tr>
                    <tr py:if="reviewer" py:for="item in reviewer" class="${cls.next()}">
                        <td style="width: 1em"><span class="ui-icon ui-icon-person"></span></td><td>${authorinfo(item['reviewer'])}</td>
                    </tr>
                </tbody>
            </table>
                </div>
            </div>

            <!--! Ticket creation in Trac -->
            <py:if test="(manager or review['owner'] == req.authname) and review_done and show_ticket">
                <h3>Prepare ticket</h3>
                <form class="workflow-actions" action="${req.href.newticket()}" method="post" target="_blank" id="prepare-ticket">
                    <input type="hidden" name="preview" value="" />
                    <input type="hidden" name="field_project" value="${review['project']}" />
                    <input type="hidden" name="field_summary" value="$ticket_summary"/>
                    <input type="hidden" name="field_description" value="$ticket_desc" />
                    <fieldset>
                        <table class="ticket-table">
                            <tr>
                                <th>Summary:</th>
                                <td>$ticket_summary</td>
                            </tr>
                            <tr>
                                <th>Description:</th>
                                <td>
                                    <div id="ticket" class="trac-content ticketdraft">
                                        <div class="description">
                                            <h3>Description</h3>
                                        ${ticket_desc_wiki}
                                        </div>
                                    </div>
                                    <p class="help">This is a preview. You may change summary and description on the ticket page which
                                        opens in a new window or tab.</p>
                                </td>
                            </tr>
                    </table>
                    <div class="buttons">
                        <input type="submit" value="Prepare Ticket"/>
                    </div>
                    </fieldset>
                </form>
                <p class="help">
                     Clicking <strong>Prepare Ticket</strong> will open a <strong>New Ticket</strong> page where you may
                    modify all settings.
                </p>
            </py:if>

            <div>
                <h3 py:if="'CODE_REVIEW_DEV' in req.perm" class="foldable">Workflow actions</h3>
                <div id="peer-workflow">

            <py:if test="canivote">
                $reviewer_workflow
            </py:if>
            <py:if test="manager or review['owner'] == req.authname">
                <py:if test="not is_finished">
                    $workflow
                </py:if>
                <py:if test="is_finished and manager">
                    <h2 py:if="manager">Workflow actions for manager</h2>
                    $workflow
                </py:if>
                <hr />
                <form class="workflow-actions" action="" method="post">
                    <fieldset>
                        <div class="buttons">
                            <input type="hidden" value="${review['review_id']}" name="Review"/>
                            <input py:if="manager" type="submit" value="Resubmit For Review" name="resubmit"/>
                            <input py:if="review['status'] != 'closed'" type="submit"
                                   value="Followup Review" name="followup"
                                   py:attrs="{'disabled': 'disabled'} if not is_finished else {'disabled': None}"/>
                            <input py:if="not is_finished or manager" type="submit"
                                   value="Modify" name="modify"/>
                        </div>
                        <p py:if="manager" class="help">When resubmitting all the data of this review will be used
                            for prefilling the fields of a new code review.
                            Comments will not be copied. When the new review is created <strong>this one will be closed
                            automatically</strong> which means it will be practically discarded.
                        </p>
                        <p py:if="review['status'] != 'closed'" class="help">
                            When creating a <strong>Followup Review</strong> all the data of this review will be
                            used for prefilling the fields of a new code review. Comments will not be copied. During
                            the new review it is possible to view the changes between file data at different revisions.
                        </p>
                        <p py:if="review['status'] != 'closed' and not is_finished" class="help">
                            A followup review can't be created at the moment because this review is not in a
                            terminal state. Terminal states are: <strong>$finished_states_str</strong>.
                        </p>
                    </fieldset>
                </form>
            </py:if>
                </div>
            </div>
        </div>
    </body>
</html>
