<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
    <xi:include href="layout.html"/>
    <head>
        <title>Review File - $review_file['path']</title>
    </head>

    <xi:include href="peer_functions.html"/>

    <body>
        <div id="content" class="trac-content borderless">
            <div py:if="is_finished" class="notice system-message">
                <p>
                    This review is finished. A code review manager may reopen it.
                </p>
            </div>
            <div py:if="review_locked and not is_finished" class="notice system-message">
                <p>
                    This review is marked as <strong>reviewed</strong> and can't be changed. The author of the code review may change the current status.
                </p>
            </div>

            <py:if test="parent_review">
                <form id="prefs" action="">
                    <div>
                        <input type="hidden" name="IDFile" value="$file_id"/>
                        <xi:include href="diff_options.html"/>
                    </div>
                </form>
            </py:if>

            <div py:if="parent_review and not changeset" id="review-info">
                <table class="review-table">
                    <thead>
                    <tr>
                        <th>Review Information</th>
                        <th>Followup from</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>${review_info(review)}</td>
                        <td>${review_info(parent_review)}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div py:if="not parent_review or changeset">
                <table class="review-table">
                    <thead>
                    <tr>
                        <th>Review Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr py:if="changeset">
                        <td><em>This is a review for changeset ${changeset}</em></td>
                    </tr>
                    <tr>
                        <td>${review_info(review)}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h3>File Information</h3>
            <dl class="overview" id="file-info"
                py:with="repo_url=review_file['repo'] if review_file['repo'] else ''">
                <dt>Path:</dt>
                <dd><a href="${href.browser(repo_url, review_file['path'], rev=review_file['changerevision'])}"
                       title="Show file in browser">${review_file['path']}</a></dd>
                <dt>Repository:</dt>
                <dd>
                    <a href="${href.browser(repo_url)}">${review_file['repo'] if review_file['repo'] else '(default)'}</a>
                    <small><em>(Head)</em></small>
                </dd>
                <dt>Repo Revision:</dt>
                <dd>
                    <a href="${href.browser(repo_url, rev=review_file['revision'])}"
                       title="Show repository @ ${review_file['revision']}">${display_rev(review_file['revision'])}</a>
                    <small><em>(click to show repository @ ${display_rev(review_file['revision'])})</em></small>
                </dd>
                <dt>File Revision:</dt>
                <dd>
                    <a href="${href.browser(repo_url, review_file['path'], rev=review_file['changerevision'])}"
                       title="Show file in browser">${display_rev(review_file['changerevision'])}</a>
                    <small><em>(click to show file @ ${display_rev(review_file['revision'])})</em></small>
                </dd>
                <py:if test="review_file['line_start'] != 0">
                    <dt>Start Line:</dt>
                    <dd>${review_file['line_start']}<br/></dd>
                    <dt>End Line:</dt>
                    <dd>${review_file['line_end']}<br/></dd>
                </py:if>
            </dl>

            <py:if test="parent_review">
                <h3>Followup from file:</h3>
                <dl class="overview" id="parent-info"
                    py:with="repo_url=par_file['repo'] if par_file['repo'] else ''">
                    <dt>Path:</dt>
                    <dd><a href="${href.browser(repo_url, par_file['path'], rev=par_file['changerevision'])}"
                           title="Show file in browser">${par_file['path']}</a></dd>
                    <dt>Repo Revision:</dt>
                    <dd>
                        <a href="${href.browser(repo_url, rev=par_file['revision'])}"
                           title="Show repository @ ${par_file['revision']}">${display_rev(par_file['revision'])}</a>
                        <small><em>(click to show repository @ ${display_rev(par_file['revision'])})</em></small>
                    </dd>
                    <dt>File Revision:</dt>
                    <dd><a href="${href.browser(repo_url, par_file['path'], rev=par_file['changerevision'])}"
                           title="Show file in browser">${display_rev(par_file['changerevision'])}</a>
                        <small><em>(click to show file @ ${display_rev(par_file['changerevision'])})</em></small>
                    </dd>
                    <dt>Comments:</dt>
                    <dd py:if="diff.options.contextall">
                        <py:for each="idx, line in enumerate(par_file.comments)">
                            <py:with vars="last = idx == len(par_file.comments) - 1">
                                <a href="#P$line">Line $line</a><span py:if="not last">, </span>
                            </py:with>
                        </py:for>
                        <py:if test="not par_file.comments">No comments</py:if>
                    </dd>
                    <dd py:if="not diff.options.contextall">
                        <py:for each="idx, line in enumerate(par_file.comments)">
                            <py:with vars="last = idx == len(par_file.comments) - 1">
                                Line $line<span py:if="not last">, </span>
                            </py:with>
                        </py:for>
                        <p class="help" py:if="par_file.comments">Some comments may be hidden. Select
                            <strong>Show changes in full context</strong> to show the whole file.</p>
                        <py:if test="not par_file.comments">No comments</py:if>
                    </dd>
                </dl>
            </py:if>

            <p>Back to the <a href="${href.peerreviewview(review_file['review_id'])}"> Code Review Details</a> page.</p>


                <label><input type="checkbox" id="inline-comments" />Show comments inline.</label>

            <table py:if="diffs or not parent_review" border="0" width="100%" style="border-collapse: collapse" id="table1">
                <tr>
                    <td align="left">
                        <p class="help">Click line number to Add/View comments</p>
                    </td>
                    <td py:if="not fullrange" align="right">
                        <p>View <input type="text" id="SelectRangeTextBox"
                                       size="1" value="3"
                                       onKeyDown="if(event.keyCode == 13 || event.keyCode == 3){resetLines();}"
                                       style="text-align: center"/> lines on either side of selection.</p>
                    </td>
                </tr>
            </table>
            <py:if test="parent_review">
                <xi:include href="peerreview_diff.html"/>
                <div py:if="nochanges">
                    <div class="notice system-message">
                        <p>The files are identical.</p>
                        <p py:if="not diff.options.contextall">Show the file in full context to add comments to the revision '${review_file['revision']}'.</p>
                    </div>
                </div>
            </py:if>
            <!--! displays the contents of the file being reviewed -->

            <div id="FilePreview">$file_rendered</div>

            <py:if test="preview">
            <!--! This is taken from preview_file.html with addition of system message div -->
            <py:choose>
                <p py:when="preview.size == 0">
                        <strong>(The file is empty)</strong>
                </p>
                <p py:when="not preview.rendered">
                    <py:choose>
                        <py:when test="preview.max_file_size_reached">
                            <div class="warning system-message">
                            <i18n:msg params="size">
                            <strong>HTML preview not available</strong>, since the file size exceeds $preview.max_file_size bytes.
                            </i18n:msg>
                            </div>
                        </py:when>
                        <py:otherwise><div class="warning system-message"><i18n:msg>
                            <strong>HTML preview not available</strong>, since no preview renderer could handle it.
                        </i18n:msg></div></py:otherwise>
                    </py:choose>
                </p>
            </py:choose>
            <!--! End of taken from preview_file.html -->
            </py:if>

            <p>Back to the <a href="${href.peerreviewview(review_file['review_id'])}"> Code Review Details</a> page.</p>

            <div id="add-comment-dlg">
                <form action="peerReviewCommentCallback" method="POST" id="add-comment-form">
                    <div>
                        <textarea rows="6" id="comment-txt" name="comment"></textarea>
                        <div id="commentchange" class="ticketdraft" style="display: none">
                            <p class="help">Preview:</p>
                            <div class="notes-preview comment searchable">

                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="hidden" name="fileid" value="-1" id="comment-fileid"/>
                        <input type="hidden" name="parentid" value="-1" id="comment-parentid"/>
                        <input type="hidden" name="line" value="" id="comment-line" />
                        <input type="hidden" name="addcomment" value="Add Comment"/>
                        <input type="submit" name="addcomment" value="Add Comment" id="addcomment"/>
                    </div>
                </form>
            </div>

            <div id="view-comment-dlg">
                <p id="refresh"><a id="comment-refresh" href="">Refresh</a></p>
                <div id="comment-tree">  </div>
                <p id="comment-loading">Loading...</p>
                <div class="buttons">
                    <input type="hidden" name="fileid" value="-1" id="comment-fileid-view"/>
                    <input type="hidden" name="line" value="" id="comment-line-view" />
                    <input type="hidden" name="addcomment" value="Add Comment"/>
                </div>
            </div>

            <script type="text/javascript">
            var baseUrl = "${href.peerReviewCommentCallback()}";
            var tacUrl = "${href.chrome('/hw/images/thumbtac11x11.gif')}";
            var lineStart = ${review_file['line_start']};
            var lineEnd = ${review_file['line_end']};
            </script>

    </div>
    </body>
</html>
