<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
  <head>
    <title>Code Review</title>
  </head>
<body>

  <h1>Code Review Details</h1>
  <p>
  Code review name: ${review.name}<br />
  Code review status: ${review.status}<br />
  Author:  ${review.author}<br />
  Creation Date:  ${review.creation_date}<br />
  <br />
  </p>
  <script type="text/javascript">
    function handlerowclick(num){
    }
  </script>

  <h2>Files associated with this code review</h2>
  <table class="listing" id="filelist">
      <thead>
      <tr>
          <td>File ID</td>
          <td>Filename</td>
          <td>Revision</td>
          <td>Line Numbers</td>
          <td># of Comments</td>
      </tr>
      </thead>
      <tbody py:with="cls=cycle(('odd', 'even'))">
      <tr py:if="not review_files" class="even">
          <td>There are no files included in this code review.</td>
      </tr>
      <tr py:for="item in review_files" class="${cls.next()}">
          <td><a href="${href.peerReviewPerform()}?IDFile=${item.file_id}">${item.file_id}</a></td>
          <td><a href="${href.peerReviewPerform()}?IDFile=${item.file_id}">${item.path}</a></td>
          <td><a href="${href.peerReviewPerform()}?IDFile=${item.file_id}">${item.version}</a></td>
          <td><a href="${href.peerReviewPerform()}?IDFile=${item.file_id}">${item.start}-${item.end}</a></td>
          <td><a href="${href.peerReviewPerform()}?IDFile=${item.file_id}">${item.num_comments}</a></td>
      </tr>
      </tbody>
  </table>


  <h2>Users assigned to this code review</h2>

  <table py:if="review.author == myname or manager" class="listing" id="userlist">
    <thead>
      <tr>
        <td>User name</td>
        <td>Vote</td>
      </tr>
    </thead>
    <tbody py:with="cls=cycle(('odd', 'even'))">
      <tr py:if="rvsLength == 0" class="even">
        <td>There are no users included in this code review.</td>
      </tr>
      <tr py:if="review_files" py:for="item in rvs" class="${cls.next()}">
        <td>${item[0]}</td>
        <td>${item[1]}</td>
      </tr>
    </tbody>
  </table>

  <table py:if="review.author != myname and not manager" class="listing" id="userlist">
    <thead>
      <tr>
        <td>User name</td>
      </tr>
    </thead>
    <tbody py:with="cls=cycle(('odd', 'even'))">
      <tr py:if="rvsLength == 0" class="even">
        <td>There are no users included in this code review.</td>
      </tr>
      <tr py:if="rvsLength > 0" py:for="item in rvs" class="${cls.next()}">
        <td>${item[0]}</td>
      </tr>
    </tbody>
  </table>


  <py:if test="notes">
      <h2>Author's notes and instructions</h2>
      $notes
  </py:if>
  <py:if test="viewvotesummary">
  <h2>Vote summary</h2>
  <table width = "35%">
    <tr>
      <td><strong>Vote tally:</strong></td>
      <td><strong style="color:limegreen">Yes: ${voteyes}</strong></td>
      <td><strong style="color:red">No: ${voteno}</strong></td>
      <td><strong>Pending: ${notvoted}</strong></td>
    </tr>
    <tr py:if="canivote">
      <td><b>Your vote is:</b></td>
      <td>
        <strong>
          <py:if test="myvote == -1">Pending</py:if>
          <py:if test="myvote == 0"><span style="color:red">No</span></py:if>
          <py:if test="myvote == 1"><span style="color:limegreen">Yes</span></py:if>
        </strong>
      </td>
    </tr>
  </table>
  </py:if>

  <py:if test="canivote == 1 and review.status != 'Closed' and review.status !=  'Ready for inclusion'">
  <h2>${myvote != -1 and 'Modify' or 'Cast'} your vote:</h2>
    <form action="" method="post">
      <fieldset>
        <div class="buttons">
          <input type="hidden" value="${review.review_id}" name="Review"/>
          <input type="submit" value="Approve" name="approved"/>
          <input type="submit" value="Don't approve" name="notapproved"/>
        </div>
      </fieldset>
    </form>
  </py:if>

  <py:if test="manager">
      <h2>Manager privileges</h2>
      <p>Change code review status:</p>

    <form method="post" action="">
      <fieldset>
        <input type="hidden" value="${review.review_id}" name="Review" />
        <select name="ManagerChoice" id="ManagerChoice_">
          <option value="Open for review">Open for review</option>
          <option value="Reviewed">Reviewed</option>
          <option value="Ready for inclusion">Ready for inclusion</option>
          <option value="Closed">Closed</option>
        </select>
        <input type="submit" name="submitbutton" value="Change Status" />
      </fieldset>
    </form>

    <form action="" method="post">
      <fieldset>
          <input type="hidden" value="${review.review_id}" name="Review" />
          <div class="buttons">
              <input type="submit" value="Resubmit For Review" name="resubmit"/>
          </div>
          <p class="help">When resubmitting all the data of this review will be used for prefilling the fields of a new code review.
              Comments will be stripped in the process. When the new review is finally created this one will be closed
              automatically.
          </p>
      </fieldset>
    </form>
  </py:if>

  <py:if test="not manager and review.author == myname">
  <h2>Author privileges</h2>
    <form action="" method="post">
      <fieldset>
        <div class="buttons">
          <input type="hidden" value="${review.review_id}" name="Review"/>
          <input py:if="review.status != 'Ready for inclusion' and review.status != 'Closed'"
                 type="submit" value="Submit For Inclusion" name="inclusion"
                 disabled="${review.status != 'Reviewed' and 'true' or None}" />
          <input type="submit" value="Resubmit For Review" name="resubmit"/>
          <input py:if="review.status != 'Closed'" type="submit" value="Close This Code Review" name="close"/>
        </div>
          <p class="help">When resubmitting all the data of this review will be used for prefilling the fields of a new code review.
              Comments will be stripped in the process. When the new review is finally created this one will be closed
              automatically.
          </p>
      </fieldset>
    </form>
  </py:if>

</body>

</html>
