<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/">

    <!-- Display a full reviewer drop-down list if it's a new CodeReview, display unassigned reviewers if resubmitted -->
    <py:choose test="new">
        <span py:when="'yes'">
            <select id="Reviewers">
                <option py:for="item in users" value="${item}">${authorinfo(item)}</option>
            </select>
        </span>
        <span py:otherwise="">
            <span py:if="unassigned_users">
                <select id="Reviewers">
                    <option py:for="item in unassigned_users" value="$item">${authorinfo(item)}</option>
                </select>
            </span>
            <span py:if="not unassigned_users">
                <select id="Reviewers">
                    <option value="-1">-- No more users --</option>
                </select>
            </span>
        </span>
    </py:choose>

    <input disabled="${unassigend_users or None}" id="adduserbutton" type="button" value="Add user"/>

    <!-- Display an empty user list if it's a new CodeReview, display previous list if resubmitted -->
    <div py:choose="new">
        <table py:when="'yes'" class="listing" id="myuserlist">
            <thead>
                <tr>
                    <th>Username (Click to remove)</th>
                </tr>
            </thead>
            <tbody id="myuserbody">
                <tr id="no-users" class="even">
                    <td>No users have been added to the code review.</td>
                </tr>
            </tbody>
        </table>

        <table py:otherwise="" class="listing" id="myuserlist">
            <thead>
                <tr>
                    <th>Username (Click to remove)</th>
                </tr>
            </thead>
            <tbody py:with="cls=cycle(('odd', 'even'))" id="myuserbody">
                <tr py:for="item in assigned_users" id="${item}id" class="${cls.next()}">
                    <td value="$item">
                        <input type="hidden" name="user" value="$item"/>
                        <a href="" data-user="$item" class="remove-user">${authorinfo(item)}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
