<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <title>Contact Form</title>
  </head>

  <body>
    <h2>Contact Form</h2>

    <p>${intro_text}</p>

    <form class="mod" id="contact" method="post" action="">
      <div class="field">
        <label>Your Name (required):<br />
          <input type="text" name="name" value="${name}" />
        </label>
      </div>
      <div class="field">
        <label>Your Email (required):<br />
          <input type="text" name="email" size="48" value="${email}" />
        </label>
      </div>
      <div class="field">
        <label>Subject (required):<br />
          <input type="text" name="subject" size="48" value="${subject}" />
        </label>
      </div>
      <div class="field">
        <label>Message (required):<br />
          <textarea name="message" rows="10" cols="50">${message}</textarea>
        </label>
      </div>
      <div class="buttons">
        <input type="submit" value="Send" py:attrs="sendbutton_attr"/>
      </div>
    </form>
  </body>

</html>
