#content.ticket #ticketinfo-text 
{
font-size: 0.85em;
margin: 0;
}

#content.ticket #ticketinfo-button
{
float: right;
font-size: 0.85em;
}

#content.ticket #ticketinfo-button a.button
{
border: 1px solid #ddd;
border-radius: 1em;
padding: 0.3em 0.7em .3em;
color: #808080;
margin-left: 2em;
} 
