.trac-cards-board
 {
    display: table;
    table-layout: fixed;
}

.trac-cards-stack-titles, .trac-cards-stacks
{
    display: table-row;
}
.trac-cards-stack-titles h2
{
    display: table-cell;
    margin: 0;
}

.trac-cards-stack
{
    display: table-cell;
    padding: 0;
    min-height: 10px;
}
.trac-cards-stack-sorter
{
    display: block;
    min-height: 10px;

    /* Fix firefox scroll offset issue during dragging */
    overflow: auto; 
}
.trac-card-slot
 {
    display: block;
    margin: 1px;
}

.trac-card
 {
    display: block;
    
    margin: 5px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 5px #888888;
    background: #ffffe0;
}

.trac-card-placeholder 
{
    display: block;

    height: 55px;
    margin: 0;
    border: 1px dotted black;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    background: #ffffff;
}
