<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="admin.html"/>

<head>
  <title>${_("Parent Types")}</title>
</head>
<body>

<py:choose test="view">
  <py:when test="'detail'">
    <h2>${_("Parent Type:")} ${parenttype.name}</h2>
    <form id="modparenttype" method="post" action="">

      <table class="childtickets_listing" id="parenttype">

        <thead>
        <tr>
          <th>${_("Option")}</th>
          <th>${_("Value")}</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <!-- Allow Child Option -->
          <td><label>${_("Allow Child Tickets")}</label></td>
          <td><input type="checkbox" name="allow_child_tickets" value="True"
                     checked="${parenttype.allow_child_tickets or None}"/>
          </td>
        </tr>
        <tr>
          <!-- New Child Ticket Label -->
          <td><label>${_("New Child Ticket Label")}</label></td>
          <td><input type="text" name="new_child_ticket_label"
                     value="${parenttype.new_child_ticket_label}"
                     size="30" />
          </td>
        </tr>
        <tr>
          <!-- Table Headers Option -->
          <td>${_("Table Headers")}</td>
          <td>
            <py:for each="header, checked in table_headers.items()">
              <div>
                <label>
                  <input type="checkbox" name="headers" value="${header}"
                         checked="$checked"/>
                  ${field_names[header]}
                </label>
              </div>
            </py:for>
          </td>
        </tr>
        <tr>
          <!-- Restricted Children Option -->
          <td>${_("Restricted Child Types")}</td>
          <td>
            <py:for each="ptype, checked in parent_types.items()">
              <div>
                <label>
                <input type="checkbox" name="restricted" value="${ptype}"
                       checked="$checked"/>
                ${ptype}</label>
              </div>
            </py:for>
          </td>
        </tr>
        <tr>
          <!-- Inherited Fields Option -->
          <td>${_("Inherited Fields")}</td>
          <td>
            <py:for each="field,checked in inherited_fields.items()">
              <div>
                <label>
                <input type="checkbox" name="inherited" value="${field}"
                       checked="$checked"/>
                ${field_names[field]}</label>
              </div>
            </py:for>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="buttons">
        <input type="submit" name="save" value="${_('Apply changes')}"/>
      </div>
    </form>
  </py:when>

  <py:otherwise>
    <h2>${_("Parent Types")} <span class="trac-count">(${len(ticket_types)})</span></h2>
        <div py:if="not custom_field">
        <form action="" method="POST">
            <fieldset>
                <legend>Ticket Custom Field</legend>
                <div class="system-message warning">${_("Ticket custom field 'parent' not configured. See installation instructions.")}</div>
                <p>Do you want to create the ticket custom field now?</p>
                <p class="help">Without the proper ticket custom field it's not possible to link tickets to parents.</p>
                <div py:if="'TICKET_ADMIN' in perm">
                    <div class="buttons">
                        <input type="submit" name="create-ticket-custom" value="${_('Create')}"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <form id="childtickets_table" method="post" action="">
      <table class="childtickets_listing" id="parenttypelist">
        <thead>
        <tr>
          <th>Name</th>
          <th>${_("Allow Child Tickets?")}</th>
          <th>${_("New Child Ticket Label")}</th>
          <th>${_("Table Headers")}</th>
          <th>${_("Restricted Child Types")}</th>
          <th>${_("Inherited Fields")}</th>
        </tr>
        </thead>
        <tbody>
        <py:for each="type in ticket_types">
          <tr class="${type.table_row_class}">
            <td class="name"><a
                href="${'/'.join([base_href,type.name])}">${type.name}</a>
            </td>
            <td>${type.allow_child_tickets}</td>
            <td>${type.new_child_ticket_label}</td>
            <td>${', '.join([field_names[hdr] for hdr in type.table_headers])}</td>
            <td>${', '.join(type.restrict_to_child_types)}</td>
            <td>${', '.join([field_names[inh] for inh in type.inherited_fields])}</td>
          </tr>
        </py:for>
        </tbody>
      </table>

      <p class="help">
        ${_("Select a parent ticket type to modify its default behaviour when/if child tickets are generated.")}
      </p>

    </form>
  </py:otherwise>
</py:choose>
</body>
</html>
