# extends 'admin.html'
<!DOCTYPE html>
  <head>
    <title>
      # block admintitle
      Pull Requests
      ${ super() }
      # endblock admintitle
    </title>
  </head>

  <body>
    # block adminpanel
    # if view == 'list' and paginator.has_more_pages:
    <h2>Pull Requests (${paginator.displayed_items()})</h2>
    # else:
    <h2>Pull Requests</h2>
    # endif

    # if view == 'detail':
    <form class="mod" id="pullrequests_modify" method="post" action="">
      ${jmacros.form_token_input()}
      <fieldset>
        <legend>Modify Pull Request:</legend>
        <div class="field">
          <label>Status:
              <select name="status">
                  # for status in statuses:
                  #     if pr.status == status:
                  <option value="${status}" selected>${status}</option>
                  #     else:
                  <option value="${status}">${status}</option>
                  #     endif
                  # endfor
              </select>
            </label>
        </div>
        <div class="buttons">
          <input type="submit" name="save" class="trac-disable-on-submit" value="${_('Save')}"/>
          <input type="submit" name="cancel" value="${_('Cancel')}" />
        </div>
      </fieldset>
    </form>
    # else:
    <form id="prefs" method="get" action="">
      <fieldset>
        <div class="field">
          <label>Max items per page:
            <input type="text" name="max" size="10" value="${max_per_page}" />
          </label>
        </div>
        <div class="buttons">
          <input type="submit" name="update" class="trac-disable-on-submit" value="${_('Update')}"/>
        </div>
      </fieldset>
    </form>

    # if paginator.show_index:
    # include 'page_index.html'
    # endif

    <table class="listing">
      <thead>
        <tr>
          <th>PR</th><th>Status</th><th>Ticket</th><th>Changes</th><th>Author</th><th>Reviewers</th><th>Opened</th><th>Modified</th>
        </tr>
      </thead>
      <tbody>
        # for pr in prs:
        <tr class="${loop.cycle('odd', 'even')}">
          <td>${pr.id}</td>
          <td><a href="${panel_href(pr.id)}">${pr.status}</a></td>
          
          <td><a href="${href('ticket', pr.ticket) + '#comment:%s' % pr.comment}">#${pr.ticket}</a></td>
          <td>${format_wikilink(pr)}</td>
          <td>${pr.author}</td>
          <td>${pr.reviewers}</td>
          <td>${format_datetime_utc(pr.opened)}</td>
          <td>${format_datetime_utc(pr.modified)}</td>
        </tr>
        # endfor
      </tbody>
    </table>

    # if paginator.show_index:
    # include 'page_index.html'
    # endif

    # endif

    # endblock adminpanel
  </body>
</html>
