# if chrome.links:
<script type="text/javascript">
  # for link in chrome.links.get('stylesheet'):
  overlayview.loadStyleSheet("${link.href}", "${link.type}");
  # endfor
  if (jQuery.fn.enableCollapsibleColumns) {
    jQuery(document).ready(function($) {
      var code = $('#overlayview_attachment table.code');
      code.enableCollapsibleColumns(code.find('thead th.content'));
    });
  }
</script>
# endif
<div id="overlayview_attachment"
     class="${'overlayview-no-preview' if preview.size == 0 or not preview.rendered}">
  # with
  #   set preview = preview
  #   include 'preview_file.html'
  # endwith
</div>
