<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Notifications</title>
  </head>

  <body>
    <div id="content">
      <h2>Notifications</h2>

      <table class="listing">
        <thead>
          <tr class="trac-columns"><th>Resource:</th><th>Details:</th></tr>
        </thead>
        <tbody>
          <tr py:for="idx, item in enumerate(items)" class="${'odd' if idx % 2 else 'even'}">
            <td><a href="$item.resource_href">${item['resource']}</a></td>
            <td><a href="$item.details_href">${item['details']}</a></td>           
          </tr>
        </tbody>
      </table>
    </div>
    <div class="buttons">
      <form id="deletenotifications" action="" method="post">
        <input type="hidden" name="action" value="deletenotifications" />
        <input type="submit" class="trac-disable-on-submit" value="${_('Delete notifications')}" />
      </form>
    </div>
  </body>
</html>
