<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Ticket Statistics</title>
    <style type="text/css">#chart {
      height: 500px
    }</style>
    <script type="text/javascript" src="${plotly_js_url}"></script>
    <script type="text/javascript">
      jQuery(function($) {
        $("#start_date").datepicker();
        $("#end_date").datepicker();

        function renderPlot(chart_data) {
          Plotly.newPlot('chart', chart_data, {barmode: 'group'});
        }

        var chart_form = document.getElementById("chart_form");

        function updateStaticURL() {
          var rqstr = "&#38;start_date=" + chart_form.start_date.value +
                      "&#38;end_date=" + chart_form.end_date.value +
                      "&#38;interval=" + chart_form.interval.value +
                      "&#38;component=" + chart_form.component.value +
                      "&#38;milestone=" + chart_form.milestone.value;
          document.getElementById("static_url").innerHTML = base_url + "/ticketstats?" + encodeURI(rqstr);
        }

        $("#chart_form").submit(function (e) {
          updateStaticURL();
          $.get(base_url + '/ticketstats', {
                'start_date': chart_form.start_date.value,
                'end_date': chart_form.end_date.value,
                'interval': chart_form.interval.value,
                'component': chart_form.component.value,
                'milestone': chart_form.milestone.value,
              },
              function (ticket_data) {
                renderPlot(ticket_data);
            },
            'json',
          )
          e.preventDefault();
        });
        updateStaticURL();
        renderPlot(ticket_data);
      });
    </script>
  </head>

  <body>
    <div id="content">
      <h1 class="chart_title">Ticket Statistics</h1>
      <div id="chart"></div>

      <fieldset id="Settings">
        <legend>Settings</legend>
        <form method="POST" id="chart_form">
          <label for="start_date">Start Date: </label>
          <input type="text" name="start_date" id="start_date" value="${format_date(start_date)}"
                 size="10"/>
          <label for="end_date">End Date: </label>
          <input type="text" name="end_date" id="end_date" value="${format_date(end_date)}"
                 size="10"/>
          <label for="interval">Interval: </label>
          <select name="interval" id="interval">
            <option value="1" selected="${1 == interval_selected or None}">1 Day</option>
            <option value="7" selected="${7 == interval_selected or None}">1 Week</option>
            <option value="14" selected="${14 == interval_selected or None}">2 Weeks</option>
            <option value="30" selected="${30 == interval_selected or None}">1 Month</option>
            <option value="60" selected="${60 == _selected or None}">2 Months</option>
            <option value="90" selected="${90 == interval_selected or None}">3 Months</option>
            <option value="180" selected="${180 == interval_selected or None}">6 Months</option>
            <option value="360" selected="${360 == interval_selected or None}">1 Year</option>
          </select>
          <label for="milestone">Milestone: </label>
          <select name="milestone" id="milestone">
            <option value="__all">All Milestones</option>
            <option py:for="m in milestones" value="$m"
                    selected="${m == milestone_selected or None}">$m</option>
          </select>
          <label for="component">Component: </label>
          <select name="component" id="component">
            <option value="__all">All Components</option>
            <option py:for="c in components" value="$c"
                    selected="${c == component_selected or None}">$c</option>
          </select>

          <input type="submit" name="Update Chart" value="Update Chart" />
        </form>
        <br />
        <div class="help">
          <small>
            <b>Static URL:</b> <span id="static_url"></span>
          </small>
        </div>
      </fieldset>
    </div>

  </body>
</html>
