<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">

  <div class='trac-cards-board'
       id='trac-cards-${board_data_id}'
       style='width:${width}px'>
    <div class='trac-cards-stack-titles'>
      <h2 py:for="stack in stack_ids">${labels[stack]}</h2>
    </div>
    <div class='trac-cards-stacks'>
      <div py:for="stack in stack_ids"
           id='trac-card-stack-${stack}'
           class='trac-cards-stack'>
        <div class='trac-cards-stack-sorter'>
          <div py:for="card, card_html in format_cards(stack)"
               class='trac-card-slot'>
            <div id='trac-card-${card.id}'
                 class='trac-card'>
              ${card_html}
            </div>
          </div>
        </div>
        <div class="inlinebuttons">        
          <input class="trac-card-add" type="submit" name="add" value="Add card"/>
        </div>
      </div>
    </div>
  </div>
</html>
