<div class='trac-cards-board'
     id='trac-cards-${board_data_id}'
     style='width:${width}px'>
  <div class='trac-cards-board-buttons inlinebuttons'>
    <input class="trac-cards-reload" type="submit" name="refresh" value="Refresh"/>
    <input class="trac-cards-export-board" type="submit" name="export-all" value="Export"/>
  </div>
  <div class='trac-cards-stack-titles'>
    # for stack in stack_names:
    <h2>${labels[stack]}</h2>
    # endfor
  </div>
  <div class='trac-cards-stacks'>
    # for stack in stack_names:
    <div id='trac-card-stack-${stack}'
         class='trac-cards-stack'>
      <div class='trac-cards-stack-sorter'>

      </div>
      <div class="inlinebuttons">        
        <input class="trac-card-add" type="submit" name="add" value="Add card"/>
        <input class="trac-cards-export-stack" type="submit" name="export-stack" value="Export"/>
      </div>
    </div>
    # endfor
  </div>
</div>
