<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="admin.html"/>

<head>
  <title>Workflow Admin</title>
  <script py:if="view == 'detail'" type="text/javascript">
    jQuery(document).ready(function ($) {
      $("#workflow-actions").autoPreviewWorkflow("${href()}/multipleworkflow/workflow_render", "",
          function (textarea, text, rendered) {
            if (rendered) {
              $('#workflow-graph').html(rendered['html']);
              var graphdiv = $('.multiple-workflow-graph');
              var data = rendered['graph_data'];
              window.drawWorkflows(data, graphdiv);
            }
          });
      $('#name').bind('input', function () {
        /* trac_types holds all the known ticket types */
        if ($.inArray($(this).val(), trac_types) == -1) {
          $('#trac-type-hint').show();
        }
        else {
          $('#trac-type-hint').hide();
        }
        ;
      });
    });
  </script>

</head>
<body>
<h2>Manage Workflows</h2>
<div id="content">
  <py:choose test="view">
    <py:when test="'detail'">

      <form class="mod" id="modworkflow" method="post" action="">
        <fieldset>
          <legend>Modify Workflow:</legend>
          <div class="field">
            <label>Name:<br/>
              <input name="name" value="$name" type="text" id="name"
                     disabled="${name == 'default' or None}"/>
            </label>
          </div>
          <div class="field">
                            <textarea id="workflow-actions"
                                      name="workflow-actions"
                                      class="wikitext trac-resizable" rows="15"
                                      cols="78">$workflow</textarea>
          </div>
          <p style='${(name in trac_types or name == "default") and "display: none" or None}'
             class="help" id="trac-type-hint">
            There is currently no ticket type matching this workflow.
          </p>
          <div class="buttons">
            <input type="submit" name="cancel" value="${_('Cancel')}"/>
            <input type="submit" name="save" value="${_('Save')}"/>
          </div>

          <h3>Workflow Graph</h3>
          <div id="workflow-graph">
            $workflowgraph
          </div>
        </fieldset>
      </form>
    </py:when>
    <py:otherwise>
        <py:if test="not wf_controller_installed">
          <div class="system-message warning">
            Workflow controller <strong>MultipleWorkflowPlugin</strong> is not set in trac.ini.
          </div>
          <div>
              <p class="help">${_("It must be added as a workflow controller in section [ticket]. Only the default ticket workflow will currently be used.")}
              </p>
          </div>
          <form class="addnew" id="install-controller" method="post" action="">
            <fieldset>
                <legend>${_("Install Workflow Controller:")}</legend>
                <p>${_("You may install the workflow controller by clicking the following button.")}</p>
                <div class="buttons">
                    <input type="submit" name="install" value="${_('Install')}"/>
                </div>
            </fieldset>
          </form>
          <hr/>
        </py:if>

      <form class="addnew" id="addworkflow" method="post" action="">
        <fieldset>
          <legend>Add Workflow:</legend>
          <div class="field">
            <label>Name:<br/><input type="text" name="name"/></label>
          </div>
          <label>Copy from:<br/>
            <select name="type" id="tkt-types" style="margin-left: 1em;">
              <option value="default">Default workflow</option>
              <option py:for="tkt_type in types" value="$tkt_type"
                      selected="${tkt_type == selected and 'selected' or None}">
                $tkt_type
              </option>
            </select>
          </label>

          <div class="buttons">
            <input type="submit" name="add" value="${_('Add')}"/>
          </div>
        </fieldset>
      </form>


      <form id="workflow_table" method="post" action="">
        <table class="listing" id="workflowlist">
          <thead>
          <tr>
            <th class="sel">&nbsp;</th>
            <th>Ticket Workflow</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="sel"></td>
            <td class="name">
              <a href="${panel_href('default')}">default</a>
            </td>
            <td>
              Trac default workflow. It is used for ticket types without any
              specific workflow.
            </td>
          </tr>
          <tr py:for="tkt_type in types">
            <td class="sel"><input type="checkbox" name="sel"
                                   value="$tkt_type"/></td>
            <td class="name">
              <a href="${panel_href(tkt_type)}">$tkt_type</a>
            </td>
            <td>
              Workflow for tickets of type <strong>$tkt_type</strong>.
              <p py:if="tkt_type not in trac_types" class="help">
                There is currently no ticket type matching this workflow.
              </p>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="buttons">
          <input type="submit" name="remove"
                 value="${_('Remove selected items')}"/>
        </div>
        <p class="help">
          You can't remove the default workflow.
        </p>
      </form>
    </py:otherwise>
  </py:choose>


</div>

<!--
    <form action="${panel_href()}" method="post">
        <select name="type" id="tkt-types" style="margin-left: 1em;">
            <option value="default">Default workflow</option>
            <option py:for="type in types" value="$type" selected="${type==selected and 'selected' or None}">$type</option>
        </select>
        <div class="field">
            <textarea id="workflow-actions" name="workflow-actions"
                      class="wikitext trac-resizable" rows="10" cols="78">$workflow</textarea>
        </div>
        <div class="buttons">
            <input type="submit" id="wf-submit" name="wf-save" value="Save changes"/>
        </div>
    </form>
    <hr />

    <h3>Workflow Graph</h3>

    <div id="workflow-graph">
        $workflowgraph
    </div>
    -->
</body>
</html>

