/* Message list styles. */
div.guestbook {
 margin: 0 auto;
 padding: 0;
 width: 58em;
}

div.guestbook div.message {
 width: 60%;
 margin: 1em auto auto;
 border: 1px solid #d7d7d7;
}

div.guestbook div.message div.title {
 font-weight: bold;
 margin: 0;
 padding: 0.25em 1em 0.25em 1em;
 background-color: #f7f7f7;
 border-bottom: 1px solid #d7d7d7;
}

div.guestbook div.controls {
 float: right;
 padding: 0.5em 2.5em 0.5em 0.5em;
}

div.guestbook div.controls a {
 margin: 0.3em;
}

div.guestbook div.footer {
 font-weight: bold;
 margin: 0;
 padding: 0.5em;
}

div.guestbook div.author, div.guestbook div.time {
 display: inline;
 padding: 0 0.5em;
}

/* Add message form styles. */
div.guestbook div.message div.body {
 margin: 1em;
}

div.guestbook form {
 overflow: auto;
}
