<!--! Word of warning for creating new tickets -->
<div id="newticketguide"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:i18n="http://genshi.edgewall.org/i18n"
     i18n:domain="trachacks">
  <h1>Stop!</h1>
  <hr />
  <p i18n:msg="">Be sure to set the <strong>component</strong> of your <!--!
  -->ticket to the name of the hack you have a grievance with. Most <!--!
  -->hack pages will have a link specifically for creating new tickets <!--!
  -->against them. Use it.
  </p>
  <p i18n:msg="">If you do not do this it is highly likely that the <!--!
  -->hack author <strong>will not be aware of your ticket and it will <!--!
  -->be ignored</strong>.
  </p>
  <hr />
  <p i18n:msg="">Support and <a href="http://trac.edgewall.org/wiki/TracPlugins">installation</a> <!--!
  -->questions should be asked on the <a href="http://trac.edgewall.org/wiki/MailingList">mailing<!--!
  -->list</a> or <a href="http://trac.edgewall.org/wiki/IrcChannel">IRC channel</a>, <!--!
  -->not filed as tickets.
  </p>
</div>
