/* file browser */

#repo_browser{
    width: 96%;
    margin-left: 2%;
    padding: 0.5em;
    margin-bottom: 1em;
}

#repo_browser .pathentry{
  margin-left: 0.25em;
}

#repo_browser .pathentry.first{
  margin-right: 0.25em;
}

#sel_repo_table{
    margin-bottom: 1em;
}

table.dirlist td.name div {
    color: #888;
    white-space: nowrap;
    vertical-align: middle;
}