# extends 'admin.html'
# import "downloads-macros.html" as dmacros

<!DOCTYPE html>
<html>
  <head>
    <title>
      # block title
      #   if title:
      Download Platforms ${ super() }
      #   endif
      # endblock title
    </title>

    # block head
    ${ super() }
    # endblock head
  </head>

  <body>
    # block content
    <h2>Platforms</h2>

    <form id="{downloads.platform.id and 'edit' or 'add'}-platform-form" class="addnew" method="post" action="${panel_href()}">
      ${jmacros.form_token_input()}
      <fieldset>
        <legend>
        # if downloads.platform.id:
              Edit Platform:
        # else:
              Add Platform:
        # endif
        </legend>

        <div class="field">
          <label for="name">Name:</label><br/>
          <input type="text" id="name" name="name" value="${downloads.platform.name}"/><br/>
        </div>

        <div class="field">
          <label for="description">Description:</label><br/>
          <input type="text" id="description" name="description" value="${downloads.platform.description}"/><br/>
        </div>

        <div class="buttons">
          # if downloads.platform.id:
              <input type="submit" name="submit" value="Edit"/>
              <input type="button" name="cancel" value="Cancel" onclick="location.href = '${panel_href()}?order=${downloads.order};desc=${downloads.desc}'"/>
              <input type="hidden" name="id" value="${downloads.platform.id}"/>
              <input type="hidden" name="action" value="post-edit"/>
          # else:
              <input type="submit" name="submit" value="Add"/>
              <input type="hidden" name="action" value="post-add"/>
          # endif
          <input type="hidden" name="order" value="${downloads.order}"/>
          <input type="hidden" name="desc" value="${downloads.desc}"/>
        </div>
      </fieldset>
    </form>

    # if len(downloads.platforms) > 0:
        <form method="post" action="${downloads.href}?order=${downloads.order};desc=${downloads.desc}">
          ${jmacros.form_token_input()}
          <table class="listing">
            <thead>
              <tr>
                <th class="sel"> </th>
                ${dmacros.sortable_th(downloads.order, downloads.desc, 'id', 'ID', panel_href())}
                ${dmacros.sortable_th(downloads.order, downloads.desc, 'name', 'Name', panel_href())}
                ${dmacros.sortable_th(downloads.order, downloads.desc, 'description', 'Description', panel_href())}
              </tr>
            </thead>
            <tbody>
          # for platform in downloads.platforms:
                <tr class="${loop.index0 % 2 and 'even' or 'odd'}">
                  <td class="sel">
                    <input type="checkbox" name="selection" value="${platform.id}"/>
                  </td>

                  <td class="id">
                    <div class="id">
                      <a href="${panel_href(platform.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${platform.id}
                      </a>
                    </div>
                  </td>

                  <td class="name">
                    <div class="name">
                      <a href="${panel_href(platform.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${wiki_to_oneliner(context(parent), platform.name)}
                      </a>
                    </div>
                  </td>

                  <td class="description">
                    <div class="description">
                      <a href="${panel_href(platform.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${wiki_to_oneliner(context(parent), platform.description)}
                      </a>
                    </div>
                  </td>
                </tr>
          # endfor
            </tbody>
          </table>

          <div class="buttons">
            <input type="submit" name="remove" value="Remove selected items" />
            <input type="hidden" name="action" value="delete"/>
          </div>

        </form>
    # else:
        <p class="help">As long as you don't add any items to the list, this field will remain completely hidden from the user interface.</p>
        <br style="clear: right"/>
    # endif
   # endblock
  </body>
</html>
