# extends 'layout.html'
# import "downloads-macros.html" as dmacros

<!DOCTYPE html>
<html>
  <head>
    <title>
      # block title
      #   if title:
      Downloads ${ super() }
      #   endif
      # endblock title
    </title>

    # block head
    ${ super() }
    # endblock head
  </head>

  <body>
    # block content
      <div id="content" class="downloads">
          <div class="title">
              <h1>${downloads.title}</h1>
          </div>

          ${wiki_to_html(context(parent), downloads.description)}

          # if 'DOWNLOADS_ADMIN' in perm:
          <form method="post" action="${href.downloads()}">
              ${jmacros.form_token_input()}
              <fieldset>
                  <legend>
                      Edit Description:
                  </legend>

                  # if req.args.action == 'edit':
                  <div class="field">
                      <textarea id="description" name="description" class="wikitext" rows="10" cols="78">${downloads.description}</textarea>
                  </div>
                  # endif

                  <div class="buttons">
                      <input type="submit" name="submit" value="Edit" />
                      # if req.args.action == 'edit':
                      <input type="button" name="cancel" value="Cancel" onclick="location.replace('${href.downloads()}?order=${downloads.order};desc=${downloads.desc}')" />
                      <input type="hidden" name="action" value="post-edit" />
                      # else:
                      <input type="hidden" name="action" value="edit" />
                      # endif
                      <input type="hidden" name="order" value="${downloads.order}" />
                      <input type="hidden" name="desc" value="${downloads.desc}" />
                  </div>
              </fieldset>
          </form>
          # endif
          ${dmacros.display_downloads(downloads, href.downloads(), href, context(parent), perm, wiki_to_oneliner, pretty_size, format_datetime, pretty_timedelta)}

          # if 'DOWNLOADS_ADD' in perm:
          <form class="addnew" enctype="multipart/form-data" method="post" action="${href.downloads()}">
              ${jmacros.form_token_input()}
              <fieldset>
                  <legend>
                      Add Download:
                  </legend>

                  <div class="field">
                      <label for="file">File:</label><br />
                      <input type="file" id="file" name="file" /><br />
                  </div>

                  # if 'description' in downloads.visible_fields:
                  <div class="field">
                      <label for="description">Description:</label><br />
                      <input type="text" id="description" name="description" value="" /><br />
                  </div>
                  # endif

                  # if ('tags' in downloads.visible_fields) and downloads.has_tags:
                  <div class="field">
                      <label for="tags">Additional Tags:</label><br />
                      <input type="text" id="tags" name="tags" value="" /><br />
                  </div>
                  # endif

                  # if 'component' in downloads.visible_fields:
                  <div class="component">
                      <label for="component">Component:</label><br />
                      <select id="component" name="component">
                          # for component in downloads.components:
                          <option value="${component.name}">${component.name}</option>
                          # endfor
                      </select><br />
                  </div>
                  # endif

                  # if 'version' in downloads.visible_fields:
                  <div class="version">
                      <label for="version">Version:</label><br />
                      <select id="version" name="version">
                          # for version in downloads.versions:
                          <option value="${version.name}">${version.name}</option>
                          # endfor
                      </select><br />
                  </div>
                  # endif

                  # if 'architecture' in downloads.visible_fields:
                  <div class="architecture">
                      <label for="architecture">Architecture:</label><br />
                      <select id="architecture" name="architecture">
                          # for architecture in downloads.architectures:
                          <option value="${architecture.id}">${architecture.name}</option>
                          # endfor
                      </select><br />
                  </div>
                  # endif

                  # if 'platform' in downloads.visible_fields:
                  <div class="platform">
                      <label for="platform">Platform:</label><br />
                      <select id="platform" name="platform">
                          # for platform in downloads.platforms:
                          <option value="${platform.id}">${platform.name}</option>
                          # endfor
                      </select><br />
                  </div>
                  # endif

                  # if 'type' in downloads.visible_fields:
                  <div class="type">
                      <label for="type">Type:</label><br />
                      <select id="type" name="type">
                          # for type in downloads.types:
                          <option value="${type.id}">${type.name}</option>
                          # endfor
                      </select><br />
                  </div>
                  # endif

                  <div class="buttons">
                      <input type="submit" name="submit" value="Add" />
                      <input type="hidden" name="action" value="post-add" />
                  </div>
              </fieldset>
          </form>
          # endif
      </div>

    # endblock content
  </body>

</html>
