# macro sortable_th(order, desc, Class, title, href)
<th class="${Class}${order == Class and (desc and ' desc' or ' asc') or ''}">
    <a title="Sort by ${Class}${order == Class and not desc and ' (descending)' or ''}" href="${href}?order=${Class}&amp;desc=${(Class == order and not desc and 1 or None)}">
        ${title}
    </a>
</th>
# endmacro

# macro display_downloads(downloads, my_href, href, parent_context, perm, wiki_to_oneliner, pretty_size, format_datetime, pretty_timedelta)
#  if len(downloads.downloads) > 0:
<div class="downloads-list">
    <table class="listing">
        <thead>
            <tr>
                # for field in downloads.visible_fields:
                #  if field == 'id':
                ${sortable_th(downloads.order, downloads.desc, 'id', 'ID', my_href)}
                #  elif field == 'file':
                ${sortable_th(downloads.order, downloads.desc, 'file', 'File', my_href)}
                #  elif field == 'description':
                ${sortable_th(downloads.order, downloads.desc, 'description', 'Description', my_href)}
                #  elif field == 'size':
                ${sortable_th(downloads.order, downloads.desc, 'size', 'Size', my_href)}
                #  elif field == 'time':
                ${sortable_th(downloads.order, downloads.desc, 'time', 'Uploaded', my_href)}
                #  elif field == 'count':
                ${sortable_th(downloads.order, downloads.desc, 'count', 'Downloads', my_href)}
                #  elif field == 'author':
                ${sortable_th(downloads.order, downloads.desc, 'author', 'Uploader', my_href)}
                #  elif field == 'tags' and downloads.has_tags:
                ${sortable_th(downloads.order, downloads.desc, 'tags', 'Tags', my_href)}
                #  elif field == 'component':
                ${sortable_th(downloads.order, downloads.desc, 'component', 'Component', my_href)}
                #  elif field == 'version':
                ${sortable_th(downloads.order, downloads.desc, 'version', 'Version', my_href)}
                #  elif field == 'architecture':
                ${sortable_th(downloads.order, downloads.desc, 'architecture', 'Architecture', my_href)}
                #  elif field == 'platform':
                ${sortable_th(downloads.order, downloads.desc, 'platform', 'Platform', my_href)}
                #  elif field == 'type':
                ${sortable_th(downloads.order, downloads.desc, 'type', 'Type', my_href)}
                #  endif
                # endfor
            </tr>
        </thead>
        <tbody>
            # for download in downloads.downloads:
            <tr class="${loop.index0 % 2 and 'even' or 'odd'}">
                # for field in downloads.visible_fields:
                #   if field == 'id':
                <td class="id">
                    <div class="id">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${download.id}
                        </a>
                        # else:
                        ${download.id}
                        # endif
                    </div>
                </td>
                #   elif field == 'file':
                <td class="file">
                    <div class="file">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${download.file}
                        </a>
                        # else:
                        ${download.file}
                        # endif
                    </div>
                </td>
                #   elif field == 'description':
                <td class="description">
                    <div class="description">
                        ${wiki_to_oneliner(parent_context, download.description)}
                    </div>
                </td>
                #   elif field == 'size':
                <td class="size">
                    <div class="size">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${pretty_size(download.size)}
                        </a>
                        # else:
                        ${pretty_size(download.size)}
                        # endif
                    </div>
                </td>
                #   elif field == 'time':
                <td class="time">
                    <div class="time">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${format_datetime(download.time)}<br />(${pretty_timedelta(download.time)} ago)
                        </a>
                        # else:
                        ${format_datetime(download.time)}<br />(${pretty_timedelta(download.time)} ago)
                        # endif
                    </div>
                </td>
                #   elif field == 'count':
                <td class="count">
                    <div class="count">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${download.count or '0'}
                        </a>
                        # else:
                        ${download.count or '0'}
                        # endif
                    </div>
                </td>
                #   elif field == 'author':
                <td class="author">
                    <div class="author">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${download.author}
                        </a>
                        # else:
                        ${download.author}
                        # endif
                    </div>
                </td>
                #   elif field == 'tags' and downloads.has_tags:
                <td class="tags">
                    <div class="tags">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${download.tags}
                        </a>
                        # else:
                        ${download.tags}
                        # endif
                    </div>
                </td>
                #   elif field == 'component':
                <td class="component">
                    <div class="component">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${download.component}
                        </a>
                        # else:
                        ${download.component}
                        # endif
                    </div>
                </td>
                #   elif field == 'version':
                <td class="version">
                    <div class="version">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${download.version}
                        </a>
                        # else:
                        ${download.version}
                        # endif
                    </div>
                </td>
                #   elif field == 'architecture':
                <td class="architecture">
                    <div class="architecture">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${download.architecture.name}
                        </a>
                        # else:
                        ${download.architecture.name}
                        # endif
                    </div>
                </td>
                #   elif field == 'platform':
                <td class="platform">
                    <div class="platform">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${download.platform.name}
                        </a>
                        # else:
                        ${download.platform.name}
                        # endif
                    </div>
                </td>
                #   elif field == 'type':
                <td class="type">
                    <div class="type">
                        # if 'DOWNLOADS_VIEW' in perm(download.perm):
                        <a href="${href.downloads(download.id)}">
                            ${download.type.name}
                        </a>
                        # else:
                        ${download.type.name}
                        # endif
                    </div>
                </td>
                #   endif
                # endfor
            </tr>
            # endfor
        </tbody>
    </table>
</div>
  #  else:
<p class="help">There are no downloads created.</p>
#  endif
# endmacro
