/*** TRAC STYLE CSS ***/
#mainnav {
 height: 2em;
}
.sf-menu {
 float: left;
 margin-bottom: 1em;
}
.sf-menu li {
 background: #f7f7f7;
 white-space: normal;
 padding: 0 !important;
 border-bottom: 1px solid black;
 border-right: 1px solid black !important;
 text-align: left;
}
.sf-menu li > a {
  border-left: none !important;
}

.sf-menu a.sf-with-ul {
 padding-right: 2.25em;
 min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}
