th.budget_person, th.budget_type, th.budget_estimation, th.budget_cost,
th.budget_status{
	min-width: 90px;
}

th.budget_comment{
	width: 300px;
}

select.budgeting_select{
	width: 90px;
}

input#addBudgetRow{
 margin-left: 5px;
 border-radius: 1em 1em 1em 1em;
 font-size: 100%;
}

input.deleteBudgetRow{
 border-radius: 1em 1em 1em 1em;
 font-size: 100%;
}

tr.budgeting_report_closed.odd{
 color: #666 !important;
 background: #ccc !important;
 border-color: #bbb !important;
}

tr.budgeting_report_closed.even{
 color: #777 !important;
 background: #ddd !important;
 border-color: #ccc !important;
}

tr.budgeting_report_est_exceeded.odd{
 font-weight: bold !important;
 background: #fa0 !important;
}

tr.budgeting_report_est_exceeded.even{
 font-weight: bold !important;
 background: #fc0 !important;
}