div#childrelations {
  padding: 0.5em;
}

table.childrel-table {
  font-size: 85%;
}

#parenttype div {
  float: left;
  min-width: 13em;
  max-width: 33%;
  padding: 0 2em 0 0;
}

table.childrel-admin-table tbody tr.disabled {
  color: lightgray
}
