/* file browser */

#repo_browser{
    width: 96%;
    margin-left: 2%;
    padding: 0.5em;
    margin-bottom: 1em;
}

#repo_browser .pathentry{
  margin-left: 0.25em;
}

#repo_browser .pathentry.first{
  margin-right: 0.25em;
}

#sel_repo_table{
    margin-bottom: 1em;
}

table.dirlist td.name div {
    color: #888;
    white-space: nowrap;
    vertical-align: middle;
}

div#peer-spinner {
   position: fixed;
   left: 50%;
   top:50%;
   height:50px;
   width:50px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation 2.0s infinite linear;
   border-left:6px solid rgba(10,10,10,.15);
   border-right:6px solid rgba(10,10,10,.15);
   border-bottom:6px solid rgba(10,10,10,.5);
   border-top:6px solid rgba(10,10,10,.5);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
