
p.help{
  color: #666;
  font-size: 90%;
}

table.review-table thead th {
  font-size: 150%;
  padding: .25em;
  background-color: #f7f7f7;
}

.review-table tbody td {
  vertical-align: top;
  padding-left: 1em;
}

.info-table{
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.info-table th{
 width: 9em;
 text-align: right;
 font-weight: bold;
}

.info-table td{
 padding: 0.125em 1em;
}

table.code th.performCodeReview{
  width: 4em;
}

/* View page */

#vote-summary td.yes{
  color: limegreen;
}

#vote-summary td.no{
  color: red;
}

.overview dt {
    font-weight: bold;
    padding-right: .25em;
    position: absolute;
    left: 0;
    text-align: right;
    width: 8.75em;
}

.overview dd {
    margin-left: 9em;
}

/* New review page */
#properties table{
    width: 58em;
}

#properties table th {
    padding: .75em;
    text-align: right;
    width: 20%;
    vertical-align: top;
}

#properties table td {
    padding: .75em;
    vertical-align: middle;
    width: 75%;
}

#properties .help {
    text-align: right;
}

#review-name{
   width: 80%;
}

#new-review legend {
    margin-bottom: 10px;
    font-weight: normal;
    color: #333;
}

#new-review fieldset {
    margin-top: 2em;
}

#noteschange{
  margin-top: 0.5em;
}

.notes-preview{
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 0.5em;
  margin: 0.75em;
}

#prepare-ticket fieldset{
  padding: 1em;
}

.ticket-table th{
  padding: 1em;
}
/* file browser */
#add-file{
  margin-bottom: 2em;
}

#add-file div{
  display: inline-block;
}

#file-preview{
  overflow: auto;
  max-height: 400px;
}

/* search page */
#searchReview div{
  margin: 0.5em;
}

#myreviewlist{
  margin-bottom: 2em;
}

/* timeline */
.codereview .notes{
  color: #aaa;
  font-size: 90%;
  margin-left: 2em;
}

/* Comment handling */
.top-dialog {
  z-index: 2000 !important;
}

#add-comment-dlg #comment-txt{
  width: 100%;
}

/* Comment dialog */
.comment-table{
  border-collapse: collapse;
  display: block;
  margin: 0 auto;
}

.comment-author{
  color: #886;
  text-align: left;
  font-size: 80%;
  padding: 0.5em 0em;
}

.comment-date{
  color: #886;
  text-align: right;
  font-size: 80%;
}

.comment-text{
  background-color: #fff;
  border-left: 1px solid #C0C0C0;
  text-align: left;
  padding: 0.25em;
}

.comment-reply{
  text-align: right;
  padding: 0.5em 0.25em;
}

.comment-table .border-col{
  border-top:  1px solid #C0C0C0;
}

#view-comment-dlg{
  background-color: #F7F7F7;
}

#view-comment-dlg #refresh{
  font-size: 80%;
  text-align: right;
}

.ui-widget-content a {
  color: #3C5FC8;
}

/* View review page */
.workflow-actions fieldset{
  margin: 0.5em 3em;
  padding: 1em;
  border: 1px solid silver;
}

.workflow-actions dt{
  font-weight: bold;
  padding-right: .25em;
  position: absolute;
  text-align: right;
  left: 4em; /* IE 9 */
}

.workflow-actions dd{
  margin-left: 12em;
}

/* Timeline */
dt.peerreview, dt.peerreview a {
    background-image: url(../images/thumbtac11x11.gif) !important;
}