
/* tables */
.peerreview-content .listing{
  width: unset;
  margin: 0.3em 3em;
}

.peerreview-content .listing th{
  font-size: 90%;
}


/* file lists in tables */
.peer-file-list {
  margin: 0.1em;
  padding-left: 1.25em;
  font-size: 95%;
}
.peer-file-list li{
  list-style-type: none;
  list-style-image: url(../../common/file.png);
  margin-bottom: 0.5em;
}
/* end of file lists in tables */

p.help{
  color: #666;
  font-size: 90%;
}

table.review-table thead th {
  font-size: 125%;
  padding: .25em;
  background-color: #f7f7f7;
}

.review-table tbody td {
  vertical-align: top;
  padding-left: 1em;
}

#review-info{
  margin-top: 2.75em;
}

.info-table{
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.info-table th{
 width: 9em;
 text-align: right;
 font-weight: bold;
}

.info-table td{
 padding: 0.125em 1em;
}

table.code th.performCodeReview{
  width: 4em;
}

/* View page */

#vote-summary td.yes{
  color: limegreen;
}

#vote-summary td.no{
  color: red;
}

.overview dt {
    font-weight: bold;
    padding-right: .25em;
    position: absolute;
    left: 0;
    text-align: right;
    width: 8.75em;
}

.overview dd {
    margin-left: 9em;
}

/* New review page */
#properties table{
    width: 58em;
}

#properties table th {
    padding: .75em;
    text-align: right;
    width: 20%;
    vertical-align: top;
}

#properties table td {
    padding: .75em;
    vertical-align: middle;
    width: 75%;
}

#properties .help {
    text-align: right;
}

#review-name{
   width: 80%;
}

#new-review legend {
    margin-bottom: 10px;
    font-weight: normal;
    color: #333;
}

#new-review fieldset {
    margin-top: 2em;
    border-bottom: 1px solid lightgrey;
}

#noteschange{
  margin-top: 0.5em;
}

.notes-preview{
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 0.5em;
  margin: 0.75em;
}

#prepare-ticket fieldset{
  padding: 1em;
}

.ticket-table th{
  padding: 1em;
}
/* file browser */
#add-file{
  margin-bottom: 2em;
}

#add-file div{
  display: inline-block;
}

#file-preview{
  overflow: auto;
  max-height: 400px;
}

#repo_browser .pathentry{
  margin-left: 0.25em;
}

#repo_browser .pathentry.first{
  margin-right: 0.25em;
}

#sel_repo_table{
    margin-bottom: 1em;
}

/* search page */
#searchReview div{
  margin: 0.5em;
}

#myreviewlist{
  margin-bottom: 2em;
}

/* timeline */
.codereview .notes{
  color: #aaa;
  font-size: 90%;
  margin-left: 2em;
}

/* Comment handling */
.top-dialog {
  z-index: 2000 !important;
}

#add-comment-dlg #comment-txt{
  width: 100%;
}

/* Comment dialog */
.comment-table{
  border-collapse: collapse;
  display: block;
  margin: 0 auto;
}

.comment-author{
  color: #886;
  text-align: left;
  font-size: 80%;
  padding: 0.5em 0em;
}

.comment-date{
  color: #886;
  text-align: right;
  font-size: 80%;
  padding-right: 0.5em;
}

.comment-text{
  background-color: #fff;
  border: 1px solid #C0C0C0;
  text-align: left;
  padding: 0.25em;
  margin-right: 5px;
}

.comment-text p{
  margin: 0em;
}

.comment-reply{
  text-align: right;
  padding: 0.5em 0.25em;
  font-size: 80%;
}

.comment-table .border-col{
  border-top:  1px solid #C0C0C0;
}

/* For inline comment */
/* Reset background color set by syntax highlighter */
table.comment-table td{
  background-color: transparent;
  white-space: unset;
}

table.code tbody tr.comment-tr:hover td{
  background-color: transparent;
}

table.code td.peer-comment-td{
  white-space: unset;
}

table.trac-diff tbody tr.comment-tr:hover td{
  background-color: transparent;
}

.diff table.trac-diff tbody.mod tr:hover td,
.diff table.trac-diff tbody.add tr:hover td,
.diff table.trac-diff tbody.rem tr:hover td {
  background: transparent;
}

/*td .comment-tree-div{
*/
td .peer-comment{
  background-color: #fcfcfc;
  border: 1px solid #C0C0C0;
  float: left;
  margin: 0.15em 0.25em 0.15em 0.25em;
  padding: 0.25em 0.5em 0 0.5em;
  font-family: inherit;
}

div.peer-comment .refresh{
  font-size: 80%;
  text-align: right;
  margin: 0em 0em 0.2em 0em;
}

div.peer-comment .comment-buttons{
  margin: 0.25em 0 0.25em 0;
}

div.peer-comment .peer-loading{
  position: absolute;
  color: grey;
}

td .comment-tree-div .comment-author{
  font-size: 80%;
  padding: 0.5em 0em;
}

table.code tr.comment-tr th, table.code tr.comment-tr td{
  background-color: transparent;
  font-family: inherit;
}

table.trac-diff tr.comment-tr th, table.trac-diff tr.comment-tr td{
  background-color: transparent;
  font-family: inherit;
}
/* End inline comment */

.comment-notread .comment-text{
  border-left: 6px solid #8df254
}

#view-comment-dlg{
  background-color: #F7F7F7;
}

#view-comment-dlg #refresh{
  font-size: 80%;
  text-align: right;
}

.ui-widget-content a {
  color: #3C5FC8;
}

/* Perform review page */
#FilePreview {
 background:  #f7f7f7;
}

div#FilePreview .code :link, div#FilePreview .code :visited {
 text-decoration: none;
 color: #b00;
 border-bottom: 1px dotted #bbb;
}

div#FilePreview .code :link:hover, div#FilePreview .code :visited:hover {
 background-color: rgba(238, 238, 238, .5);
 color: #500;
 border-radius: .1em;
 box-shadow: 0 0 0 .15em rgba(238, 238, 238, .5);
}

/* View review page */
td.parent-info {
  color: rgba(1, 1, 1, 0.5);
  border-left: 2px solid #f0f0f0;
}

th.parent-info {
  color: rgba(1, 1, 1, 0.5);
}

.workflow-actions, .peer-form, .peer-div{
  margin: 0.5em 3em;
}

.workflow-actions fieldset{
  padding: 1em;
}

.workflow-actions dt{
  font-weight: bold;
  padding-right: .25em;
}

.workflow-actions dd{
  margin-left: 2em;
}
table#userlist {
  margin: 0 0;
  width: 30%
}

/* Timeline */
dt.peerreview, dt.peerreview a {
    background-image: url(../images/thumbtac11x11.gif) !important;
}

/* Trac file browser */
table.code th.prcomment {
    width: 5em;
}

table.peer-status-tbl {
  width: 75%;
  margin-bottom: 1em;
}

#peer-msg {
  margin-top: 0.5em;
  width: 75%;
}

/* Changeset page */
/* Review info returned from changeset review creation. */
#peer-review-info dt.property {
	font-weight: bold;
	clear: left;
	float: left;
	text-align: right;
	width: 7.75em;
}
#peer-review-info dd { margin-left: 8.5em }
#peer-review-info .review { padding: 1em 0 1px }
#overview .review { padding: 1em 0 1px }
ul#userlist {
  list-style-type: none;
  padding: unset;
  margin-top: 0em;
}
ul#userlist li .ui-icon{
  margin-right: 0.5em;
}
table#userlist .user-icon{
  width: 1.5em;
}

/* wiki syntax provider */
a.peer-wiki .approved{
  color: limegreen;
}
a.peer-wiki .disapproved{
  color: red;
}

div#peer-spinner {
   z-index: 1000;
   position: fixed;
   left: 50%;
   top:50%;
   height:50px;
   width:50px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation 2.0s infinite linear;
   border-left:6px solid rgba(10,10,10,.15);
   border-right:6px solid rgba(10,10,10,.15);
   border-bottom:6px solid rgba(10,10,10,.5);
   border-top:6px solid rgba(10,10,10,.5);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
