
p.help{
  color: #666;
  font-size: 90%;
}

.info-table{
  border-collapse: collapse;
}

.info-table th{
 width: 10em;
}

table.code th.performCodeReview{
  width: 4em;
}

/* View page */

#vote-summary td.yes{
  color: limegreen;
}

#vote-summary td.no{
  color: red;
}

.overview dt {
    font-weight: bold;
    padding-right: .25em;
    position: absolute;
    left: 0;
    text-align: right;
    width: 8.75em;
}

.overview dd {
    margin-left: 9em;
}

/* New review page */
#review-name{
   width: 50%;
}

/* file browser */
#add-file{
  margin-bottom: 2em;
}

#add-file div{
  display: inline-block;
}

#file-preview{
  overflow: auto;
  max-height: 400px;
}

/* search page */
#searchReview div{
  margin: 0.5em;
}

#myreviewlist{
  margin-bottom: 2em;
}

/* timeline */
.codereview .notes{
  color: #aaa;
  font-size: 90%;
  margin-left: 2em;
}

/* Comment handling */

#add-comment-dlg #comment-txt{
  width: 100%;
}

/* Comment dialog */
.comment-table{
  border-collapse: collapse;
  display: block;
  margin: 0 auto;
}

.comment-author{
  color: #886;
  text-align: left;
  font-size: 80%;
  padding: 0.5em 0em;
}

.comment-date{
  color: #886;
  text-align: right;
  font-size: 80%;
}

.comment-text{
  background-color: #fff;
  border-left: 1px solid #C0C0C0;
  text-align: left;
  padding: 0.25em;
}

.comment-reply{
  text-align: right;
  padding: 0.5em 0.25em;
}

.comment-table .border-col{
  border-top:  1px solid #C0C0C0;
}

#view-comment-dlg{
  background-color: #F7F7F7;
}

#view-comment-dlg #refresh{
  font-size: 80%;
  text-align: right;
}

.workflow-actions fieldset{
  margin: 0.5em 3em;
  padding: 1em;
  border: 1px solid silver;
}

.workflow-actions dt{
  font-weight: bold;
  padding-right: .25em;
  position: absolute;
  text-align: right;
}

.workflow-actions dd{
  margin-left: 12em;
}