#properties table { table-layout: fixed }
#ticket table.properties td[colspan="4"],
#ticket table.properties td[colspan="4"] table,
#properties td[colspan="4"],
#properties td[colspan="4"] table {
 width: 100%;
 padding: 0;
}
#ticket table.properties td[colspan="4"] > fieldset {
 margin: 0;
 padding: 0;
 border: none;
 background: transparent none;
 box-shadow: none;
}
#properties td[colspan="4"] > fieldset {
 margin: 0;
 padding: 0;
 border: none;
 background: transparent none;
 box-shadow: none;
}
#properties td[colspan="4"] > fieldset.collapsed { margin-bottom: 0 }
#properties td[colspan="4"] > fieldset div.trac-resizable textarea { width: 100% }
#ticket table.properties td[colspan="4"] legend {
 font-size: 90.9%;
 padding-top: 0.5em;
 padding-bottom: 0.5em;
}
#properties td[colspan="4"] legend {
 font-size: 90.9%;
 padding-top: 0.4em;
 padding-bottom: 0.4em;
}
#ticket table.properties td[colspan="4"] .collapsed legend.foldable,
#properties td[colspan="4"] .collapsed legend.foldable {
 background: transparent;
}
.ticketfieldslayout-col-th { width: 20% }
.ticketfieldslayout-col-td { width: 30% }
.ticketfieldslayout-foldable :link,
.ticketfieldslayout-foldable :visited { padding-left: 16px }
tbody.ticketfieldslayout-collapsed tr { display: none }
tbody.ticketfieldslayout-collapsed tr.ticketfieldslayout-toggle { display: table-row }
