<div xmlns:py="http://genshi.edgewall.org/" py:strip="True">
  <section id="workspace" name="workspace${fnid}">
    <div id="script" class="us-letter dpi100" py:choose="inline">
        <div id="inline" class="page" name="${fnid}" py:when="True"/>
        <div class="page" name="${fnid}" py:otherwise=""/>
    </div>
    <script type="text/javascript" xml:space="preserve">
    
    
/* <![CDATA[ */

function whenAvailable(name, callback) {
  var interval = 200; // ms
  window.setTimeout(function() {
    if (window[name]) {
      callback(window[name]);
    } else {
      window.setTimeout(arguments.callee,
      interval);
    }
  }, interval);
}
whenAvailable("fountain", function(){
var content = `
${fountain}
`;
var output = fountain.parseToHtml(content.trim());
$('div[name="${fnid}"]').html(output.html.script);
$('section[name="workspace${fnid}"]').show();
});
/* ]]> */
    </script>
  </section>
</div>
