# extends 'admin.html'
<!DOCTYPE html>
  <head>
    <title>
      # block admintitle
      Time Log Tasks
      ${ super() }
      # endblock admintitle
    </title>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".chosen-select").chosen({});
      });
    </script>
  </head>

  <body>
    # block adminpanel
    # if view == 'list':
    <h2>Tasks (${len(tasks)})</h2>
    # else:
    <h2>Tasks</h2>
    # endif

    # if view == 'detail':
    <form class="mod" id="timetracking_modifytask" method="post" action="">
      ${jmacros.form_token_input()}
      <fieldset>
        <legend>Modify Log Task:</legend>
        <div class="field">
          <label>${label_category}:<br /><input type="text" name="category" value="${task.category}" /></label>
        </div>
        <div class="field">
          <label>${label_project}:<br /><input type="text" name="project" value="${task.project}" /></label>
        </div>
        # if use_year:
        <div class="field">
          <label>Year:<br /><input type="text" name="year" value="${task.year}" /></label>
        </div>
        #endif
        <div class="field">
          <label>Name:<br /><input type="text" name="name" class="trac-autofocus" value="${task.name}" /></label>
        </div>
        <div class="field">
          <label>Description:<br /><input type="text" name="description" class="trac-autofocus" value="${task.description}" /></label>
        </div>
        <div class="field">
          <label>Estimated hours:<br /><input type="text" name="estimated_hours" value="${estimate.estimated_hours}" /></label>
        </div>
        <div class="field">
          <fieldset>
            <label for="timetracking_taskcomment">Estimate Comment:</label>
            <p>
              <textarea id="timetracking_taskcomment" name="comment" class="wikitext trac-resizable"
                        rows="6" cols="60">${estimate.comment}</textarea>
            </p>
          </fieldset>
        </div>
        <div class="buttons">
          <input type="hidden" name="estimate" value="${estimate.name}" />
          <input type="submit" name="save" class="trac-disable-on-submit" value="${_('Save')}"/>
          <input type="submit" name="cancel" value="${_('Cancel')}" />
        </div>
      </fieldset>
    </form>
    # else:
    <form  id="prefs" method="get" action="">
      <fieldset>
        # if use_year:
        <div class="field">
          <label>Year:
            <select name="year">
              # for year in years:
              #     if selected_year == year:
              <option value="${year}" selected>${year}</option>
              #     else:
              <option value="${year}">${year}</option>
              #     endif
              # endfor
            </select>
          </label>
        </div>
        # endif
        <div class="field">
          <label>Estimate:
            <select name="estimate">
              # for name in estimate_names:
              #     if selected_estimate == name:
              <option value="${name}" selected>${name}</option>
              #     else:
              <option value="${name}">${name}</option>
              #     endif
              # endfor
            </select>
          </label>
        </div>
        <div class="buttons">
          <input type="submit" name="update" class="trac-disable-on-submit" value="${_('Update')}"/>
        </div>
      </fieldset>
    </form>
    <form class="addnew" id="timetracking_addtask" method="post" action="">
      ${jmacros.form_token_input()}
      <fieldset>
        <legend>Add Task:</legend>
        <input type="hidden" name="year" value="${selected_year}" />
        <div class="field">
          <label>${label_category}: <input type="text" name="category" /></label>
        </div>
        <div class="field">
          <label>${label_project}: <input type="text" name="project" /></label>
        </div>
        <div class="field">
          <label>Name: <input type="text" name="name" /></label>
        </div>
        <div class="field">
          <label>Description: <input type="text" name="description" /></label>
        </div>
        <div class="buttons">
          <input type="submit" name="add" class="trac-disable-on-submit" value="${_('Add')}"/>
        </div>
      </fieldset>
    </form>

    <form id="timetracking_tasklist" method="post" action="">
      ${jmacros.form_token_input()}
      <table class="listing">
        <thead>
          <tr><th class="sel">&nbsp;</th>
            <th>${label_category}</th><th>${label_project}</th><th>Name</th><th>Description</th><th>Estimated hours</th><th>Comment</th>
          </tr>
        </thead>
        <tbody>
          # for task in tasks:
          <tr>
            <td class="sel">
              <input type="checkbox" class="trac-disable-determinant"
                     name="sel" value="${task.id}" />
            </td>
            <td>${task.category}</td>
            <td>${task.project}</td>
            <td><a href="${panel_href(task.id, estimate=selected_estimate)}">${task.name}</a></td>
            <td>${task.description}</td>
            <td>${estimated_hours(task)}</td>
            <td>${wiki_to_html(context, estimate_comment(task))}</td>
          </tr>
          # endfor
        </tbody>
      </table>
      <div class="buttons">
        <input type="hidden" name="year" value="${selected_year}" />
        <input type="hidden" name="estimate" value="${selected_estimate}" />
        <input type="submit" name="remove" class="trac-disable trac-disable-on-submit" value="${_('Remove selected tasks')}" />
      </div>
    </form>
    
    <form id="timetracking_copyestimates" method="get" action="">
      <div class="buttons">
        <input type="hidden" name="action" value="copy-estimates" />
        <input type="hidden" name="year" value="${selected_year}" />
        <input type="hidden" name="estimate" value="${selected_estimate}" />
        <input type="submit" class="trac-disable-on-submit" value="${_('Copy estimates')}" />
      </div>
    </form>

    # endif
    
    <div id="help"><strong>Note:</strong> See <a href="${href.report()}">Available Reports</a> for reporting features.</div>
    # endblock adminpanel
  </body>

</html>
